{
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "project": "./tsconfig.json",
        "sourceType": "module"
    },
    "plugins": ["@typescript-eslint", "jsx-a11y"],
    "extends": [
        "eslint:recommended",
        "plugin:jest/recommended",
        "plugin:@typescript-eslint/recommended",
        "prettier",
        "prettier/@typescript-eslint"
    ],
    "rules": {},
    "overrides": [
        {
            "files": ["**/*.ts?(x)"],
            "rules": {}
        }
    ]
}
