@use "uswds-core" as *;
@use '../../styles/custom.scss';

.panelEmptyNoFilteredResults {
    margin-top: units(8);

    h3 {
        font-size: 1rem;
        font-weight: font-weight('bold');
        text-align: center;
    }
    p {
        font-weight: font-weight('normal');
        font-size: 0.875rem;
        text-align: center;
    }
}

.panelEmptyNoSubmissionsYet {
    margin-top: units(8);

    h3 {
        font-weight: font-weight('normal');
        color: color('base');
        text-align: center;
    }
}

.programTag {
    background: color($theme-color-secondary-lighter);
    color: color($theme-color-base-ink);
    display: inline-block;
}

.submittedTag {
    background: color($theme-color-success);
}

.draftTag {
    background: color($theme-color-warning-dark);
    color: color($theme-color-base-ink);
}

.unlockedTag {
    background: #99deea;
    color: color($theme-color-base-ink);
}

.filterCount {
    font-weight: font-weight('bold');
    color: color($theme-color-base-ink);
    padding-top: units(3);
}
