@import '../../styles/uswdsImports.scss';
@import '../../styles/custom.scss';

.panelEmptyNoFilteredResults {
    margin-top: units(8);

    h3 {
        font-size: 1rem;
        font-weight: font-weight('bold');
        text-align: center;
    }
    p {
        font-weight: font-weight('normal');
    font-size: 0.875rem;
    text-align: center;
    }
}

.panelEmptyNoSubmissionsYet {
    margin-top: units(8);

    h3 {
        font-weight: font-weight('normal');
        color: color('base');
        text-align: center;
    }
}

.programTag {
    background:$mcr-primary-lighter;
    color: $mcr-foundation-ink;
    display: inline-block;
}

.submittedTag {
    background: $mcr-success-base;
}

.draftTag {
    background: $mcr-gold-dark;
    color: $mcr-foundation-ink;
}

.unlockedTag {
    background: #99deea;
    color: $mcr-foundation-ink;
}

.filterCount {
    font-weight: font-weight('bold');
    color: $mcr-foundation-ink;
    padding-top: units(3);
}
