@use '../../styles/custom.scss' as custom;
@use '../../styles/uswdsImports.scss' as uswds;

// This is to override all the styles in USWDS classes.
@mixin override-uswds-nav {
    font-weight: uswds.font-weight('light') !important;
    font-size: 1rem !important;
    line-height: 1.15rem !important;
    color: custom.$mcr-foundation-white;
}

// Override the USWDS classes to match our own styling.
.primaryNav {
    background-color: transparent !important;

    button {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        padding-left: 0 !important;
        background-color: custom.$mcr-cmsblue-base !important;

        &:hover {
            color: custom.$mcr-foundation-white !important;
        }
        span::after {
            background-color: white !important;
        }
    }

    ul {
        li > * {
            @include override-uswds-nav;
        }
    }
}

.headerItemsContainer {
    display: flex;
    flex-wrap: wrap;
    @include override-uswds-nav;

    a {
        text-decoration: underline !important;
        color: custom.$mcr-foundation-white !important;
        padding: 0 !important;
        &:hover,
        &:active,
        &:visited {
            color: custom.$mcr-foundation-white !important;
            background-color: transparent !important;
        }
    }
}

.subMenuContainer {
    position: relative;
    margin-bottom: 0 !important;

    ul {
        position: absolute !important;
        right: 0 !important;
        margin-top: 1.5rem !important;
        width: fit-content;
        background-color: custom.$mcr-cmsblue-base !important;

        > li {
            & + li {
                margin-top: 1.3rem !important;
            }
        }
    }
}

.signOutButton {
    text-decoration: underline !important;
}

.divider {
    padding: 0 1rem;
    color: custom.$mcr-foundation-white;
}

@media (min-width: 63px) and (max-width: 1280px) {
    .divider {
        position: absolute;
        display: none;
    }

    .headerItemsContainer {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 1rem;
        padding-bottom: 1rem;

        li {
            border-top: none !important;
            margin-top: 1rem;
        }
    }

    .primaryNav {
        ul[class='usa-nav__primary usa-accordion'] {
            margin-top: unset;
            flex-direction: column;
            display: flex;
        }
        a:hover {
            background-color: transparent !important;
        }
    }

    .subMenuContainer {
        ul {
            margin-top: 0.5rem !important;
            padding: 1rem;
            li {
                margin: 0;
            }
        }
    }
}

.landingPageHeading {
    background-color: custom.$mcr-cmsblue-dark;
    color: custom.$mcr-foundation-white;
    padding: 1rem 0;
    & h1 {
        display: flex;
        flex-flow: column;
        text-align: center;
        font-weight: uswds.font-weight('light');
        line-height: 1.5;
    }
}

.banner {
    background: custom.$mcr-cmsblue-base;
}

.bannerLogo {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;

    .logoImg {
        border-right: 2px solid custom.$mcr-foundation-white;
        padding-right: 1rem;
    }

    span {
        margin-left: 1rem;
        color: custom.$mcr-foundation-white;
        height: 100%;
    }
}

.dashboardHeading {
    background-color: custom.$mcr-cmsblue-dark;
    color: custom.$mcr-foundation-white;
    padding-left: 0.5rem;
    & h1,
    div {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        font-size: 2rem;
        line-height: 1.5;
        font-weight: bold;
        > span {
            padding: 0 1rem;
        }
    }
    div {
        min-height: 5rem; // this ensures we don't collapse page heading when no text present
    }
}
.stateDashboardRow,
.cmsDashboardRow {
    width: 100%;
    justify-content: space-between; // <-- key line
    align-items: center;

    // make the PageHeading (h1) stack its children vertically
    h1 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}

.stateHeadingText {
    // inherits big, bold styles from .dashboardHeading
    // optional minor tweak:
    line-height: 1.2;
}

.submission-id-line {
    display: inline-flex;
    align-items: center;
    gap: 0.35rem;
    font-size: 0.95rem; // smaller than state name
    font-weight: 400; // not bold
    opacity: 0.9;
    margin-top: 0.15rem; // space between state name and ID line

    &__label {
        font-weight: 400;
    }

    &__divider {
        opacity: 0.7;
    }

    &__value {
        font-weight: 400;
    }
}

.contractTypeContainer {
    margin-left: auto;
    display: flex;
    align-items: flex-start;
    gap: 0.75rem;
    font-size: 0.9rem;
    font-weight: 400;
    min-height: 1rem;
}

.dashboardHeading div.contractTypeContainer,
.dashboardHeading div.contractTypeText,
.dashboardHeading div.contractTypeDivider {
    min-height: 2rem;
}

.contractTypeDivider {
    width: 2px;
    height: 2.5rem;
    background-color: custom.$mcr-foundation-white;
    opacity: 0.8;
    position: relative;
    left: 15px;
}

.contractTypeText {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 1.2;
}

.contractTypeLabel {
    font-size: 0.75rem;
    font-weight: 400;
    opacity: 0.85;
}

.contractTypeValue {
    font-size: 1rem;
    font-weight: bold;
}
