@import '../../index.scss';

.logo-row {
    display: flex;
    flex-wrap: wrap;
    padding-left: 2rem;
    padding-right: 2rem;
}
.nav-row {
    background-color: $theme-color-primary;
    color: 'white';
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 2rem;
}

.heading-row {
    background-color: $theme-color-primary-dark;
    color: 'white';
    display: flex;
    flex-wrap: wrap;
    padding-left: 2rem;
}
