@import '../../styles/uswdsImports.scss';
@import '../../styles/custom';

.userInfo {
    font-weight: font-weight('light');
    padding: 0 units(1);
    color: $cms-color-white;

    button {
        color: $cms-color-white;

        &:hover {
            color: $cms-color-white;
        }
    }
}

.divider {
    padding: 0 units(1);
}

.dashboardHeading {
    background-color: $theme-color-primary-dark;
    color: $cms-color-white;
    & h1 {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        > span {
            padding: 0 units(1);
        }
    }
}

.landingPageHeading {
    background-color: $theme-color-primary-dark;
    color: $cms-color-white;
    padding: units(2) 0;
    & h1 {
        display: flex;
        flex-flow: column;
        text-align: center;
        font-weight: font-weight('light');
        line-height: 1.5;
    }
}

.banner {
    background: $cms-color-primary;
}

.bannerLogo {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;

    .logoImg {
        border-right: 2px solid $cms-color-white;
        padding-right: units(2);
    }

    span {
        margin-left: units(2);
        font-size: size('body', 'lg');
        color: $cms-color-white;
        height: 100%;
    }
}
