@import '../../index.scss';

.banner-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: units(1.5) units(4);
    & .user-info {
        font-weight: font-weight('light');
        padding: 0 units(1);
        > .divider {
            padding: 0 units(1);
        }
    }
}

.heading-row {
    background-color: $theme-color-primary-dark;
    color: $cms-color-white;
    display: flex;
    flex-wrap: wrap;
    padding: units(1) units(4);
    & h1 {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        > span {
            padding: 0 units(1);
            font-family: inherit;
        }
    }
}
