@import '../../styles/uswdsImports.scss';
@import '../../styles/custom';

.errorsContainer {
	text-align: center;
	padding-top: units(8);
	padding-bottom: units(8);
	background-color: color('base-lightest');
}