@use '../../styles/custom.scss' as custom;
@use '../../styles/uswdsImports.scss' as uswds;

.errorsContainer {
    text-align: center;
    padding-top: uswds.units(8);
    padding-bottom: uswds.units(8);
    background-color: uswds.color('base-lightest');
    flex: 1;
    display: flex;
    align-items: center;
}

.errorsFullPage{
    flex: 1;
    padding: uswds.units(4) 0;
}
