@use '../../styles/custom.scss' as custom;
@use '../../styles/uswdsImports.scss' as uswds;

.table {
    h2 {
        font-weight: 300;
    }
    thead {
        th {
            background-color: transparent;
            border-top: 0;
            border-left: 0;
            border-right: 0;
        }
        td {
        word-wrap: break-word;
        overflow-wrap: break-word;
        }
    }

    table {
        padding-top: 1em;
        width: 100%;
    }
}
.tabs {
    padding: 2em 0;
}
.pageContainer {
    padding: 1em 10em;
    width: 100%;
    background-color: custom.$mcr-foundation-white;
}
.header {
    text-align: left;
}

.wrapper {
    height: 100vh;
}
