@use '../../styles/custom.scss' as custom;
@use '../../styles/uswdsImports.scss' as uswds;

.filterCount {
    color: custom.$mcr-foundation-ink;
    padding-top: uswds.units(3);
}

.container {
    max-width: custom.$mcr-container-standard-width-fixed;
    padding: 2rem 0;
}

.outletContainer {
    @include custom.default-page-container;
    padding: 0 !important; // override GridContainer to make sure our sidenav background alwaysmatches the content inside it
}

.verticalNavContainer {
    padding: 2rem;
    width: 20rem;
    min-width: 18rem;
    max-width: custom.$mcr-container-max-width-fixed;
}

.backLinkContainer {
    padding-top: uswds.units(2);
    padding-bottom: uswds.units(4);
}
