@use '../../../styles/custom.scss' as custom;
@use '../../../styles/uswdsImports.scss' as uswds;

.accessibleAlertBanner {
    h4[class*='usa-alert__heading'] {
        @include custom.mcr-h4-bold-style;
        margin: -0.125rem 0 0.5rem 0;

        &:last-child {
            margin-bottom: 0;
        }
    }

    [class*='usa-alert--emergency']:before,
    [class*='usa-alert--error']:before,
    [class*='usa-alert--info']:before,
    [class*='usa-alert--success']:before,
    [class*='usa-alert--warning']:before {
        top: 0.25rem;
    }

    [class*='usa-alert__text'] {
        font-size: 1rem;
    }

    [class*='usa-alert__body'] {
        margin-left: 0;
        margin-right: 0;
        font-size: 1rem;
    }
}
