@use '../../styles/custom.scss' as custom;
@use '../../styles/uswdsImports.scss' as uswds;

.uploadFormContainer {
    @include custom.mini-form-page-container;
}

.formContainer {
    @include custom.mini-form-fields;

    [id^='formSummary'] {
        display: flex;
        flex-direction: column;
        padding-bottom: 25px;
    }

    [class^='usa-date-picker__wrapper'],
    [class^='usa-input'] {
        max-width: 100%;
    }

    [class^='usa-input'],
    [class^='usa-date-picker__button'] {
        margin-bottom: 0.5rem;
    }
}
