@use '../../styles/custom.scss' as custom;
@use '../../styles/uswdsImports.scss' as uswds;

.uploadFormContainer {
    max-width: custom.$mcr-container-standard-width-fixed;
    background-color: none;
    @include uswds.at-media('tablet') {
        min-width: 20rem;
        max-width: 40rem;
        margin: 0 auto;
    }
}

.formContainer {

     @include custom.form-fields;


    > div[class^='usa-form-group']:not(:first-of-type) {
        margin-top: 2.5rem;
    }

    [id^='formSummary'] {
        display: flex;
        flex-direction: column;
        padding-bottom: 25px;
    }

    [class^='usa-date-picker__wrapper'],
    [class^='usa-input'] {
        max-width: 100%;
    }

    [class^='usa-input'],
    [class^='usa-date-picker__button'] {
        margin-bottom: 0.5rem;
    }
}
