@use "uswds-core" as *;
@use '../../../styles/custom.scss' as *;

.reviewSectionWrapper {
    max-width: $mcr-container-standard-width-fixed;
}

.submitButton {
    background: $mcr-success-base;
    &:hover {
        background-color: $mcr-success-hover !important;
    }
}
