@use '../../../styles/custom.scss' as custom;
@use '../../../styles/uswdsImports.scss' as uswds;

.reviewSectionWrapper {
    max-width: custom.$mcr-container-standard-width-fixed;
}

.submitButton {
    background: custom.$mcr-success-base;
    &:hover {
        background-color: custom.$mcr-success-hover !important;
    }
}

.summarySection {
    margin: uswds.units(2) auto;
    background: custom.$mcr-foundation-white;
    padding: uswds.units(2) uswds.units(4);
    padding-top: uswds.units(2) !important;
    border: 1px solid custom.$mcr-gray-lighter;
    line-height: uswds.units(3);

    h2 {
        margin: 0;
        @include uswds.u-text('normal');
    }
    &:first-of-type {
        h2 {
            @include uswds.u-text('bold');
            font-size: size('body', 'lg');
        }
    }
    ul {
        margin: 0;

        li {
            padding: uswds.units(1) 0;
        }
        &.commaList {
            li {
                padding: 0;
            }
            li:after {
                content: ', ';
            }
            li:last-of-type::after {
                display: none;
            }
        }
    }

    // align state contacts
    dl div[class^='grid-container'] {
        padding: 0;

        div {
            padding-bottom: uswds.units(2);
        }

        // dont bottom pad last two grid items
        div:nth-last-child(-n + 2) {
            padding-bottom: 0;
        }
    }
    table:last-of-type {
        margin-bottom: uswds.units(2);
    }

    // with nested sections, collapse bottom margin/padding for last in list
    // rely on margin from the parent .summarySection. Relevant for multi-rate experience
    section:last-of-type {
        margin-bottom: 0 !important;
    }
}
