@import '../../../styles/uswdsImports.scss';
@import '../../../styles/custom';

.reviewSectionWrapper {
    max-width: $width-max-contained;
}

.submitButton {
    background: $theme-color-success;
    &:hover {
        background-color: #2a7a3b !important;
    }
}

.submittedReasonTextarea {
    max-width: 100%;
}
