@import '../mcrColors';
// THIS FILE IS FOR REFERENCE OF CMS COLORS ONLY. DO NOT IMPORT IN CODE. Prefer MCRCOLORS.
// This file can be deleted when we complete v3 USWDS upgrade

// Base colors
$theme-color-base-lightest: $mcr-gray-lightest;
$theme-color-base-light: $mcr-gray-lighter;

// Primary colors
$theme-color-primary-lighter: $mcr-primary-lightest;
$theme-color-primary: $mcr-primary-base;
$theme-color-primary-dark: $mcr-primary-dark;
$theme-color-primary-darker: $mcr-primary-darkest;

// Secondary colors

// Gradient colors
$theme-color-gradient-light: $mcr-cyan-base;
$theme-color-gradient-dark: $theme-color-primary-dark;

/*
----------------------------------------
State palette colors
----------------------------------------
*/

// Error colors
$theme-color-error-lighter: $mcr-error-light;
$theme-color-error-light: $mcr-error-light;
$theme-color-error: $mcr-error-base;
$theme-color-error-darker: $mcr-error-dark;

// Success colors
$theme-color-success: $mcr-success-base;
$theme-color-success-dark: $mcr-success-dark;


// Info colors
$theme-color-info-dark: $mcr-cyan-dark;

// Hint colors
$theme-color-hint: $mcr-foundation-hint;


/*
----------------------------------------
General colors
----------------------------------------
*/

// Links
$theme-link-color: $mcr-primary-base;
$theme-link-visited-color: $mcr-foundation-visited;
$theme-link-hover-color: $mcr-primary-dark;
$theme-link-active-color: $mcr-primary-darkest;

// Focus
$theme-focus-color: $mcr-foundation-focus;

// Background
$theme-banner-background-color: $mcr-foundation-white;
