@use "uswds-core" as *;
@use '../../styles/custom.scss';

.logosRow {
    background-color: #f0fafd;
    & img,
    svg {
        padding-right: units(4);
        flex-shrink: 0;
        height: 50px;
        width: auto;
    }
}
.cmsLogos {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.federalLogos {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding: units(2);
    justify-content: flex-end;
    > span {
        max-width: 300px;
    }
}

.contactRow {
    background-color: $theme-color-primary;
    color: custom.$background-white;
    padding: units(3) 0;
    > span {
        margin: units(1);
    }
    a {
        color: custom.$background-white;

        &:hover,
        &:active,
        &:visited {
            color: custom.$background-white;
        }
    }
}
