@use '../../styles/custom.scss' as custom;
@use '../../styles/uswdsImports.scss' as uswds;

.logosRow {
    background-color: custom.$mcr-cmsblue-lightest;
    & img,
    svg {
        padding-right: uswds.units(4);
        flex-shrink: 0;
        height: 50px;
        width: auto;
    }
}
.cmsLogos {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.federalLogos {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding: uswds.units(2);
    justify-content: flex-end;
    > span {
        max-width: 300px;
    }
}

.contactRow {
    background-color: custom.$mcr-cmsblue-base;
    color: custom.$mcr-foundation-white;
    padding: uswds.units(3) 0;
    > span {
        margin: uswds.units(1);
    }
    a {
        color: custom.$mcr-foundation-white;

        &:hover,
        &:active,
        &:visited {
            color: custom.$mcr-foundation-white;
        }
    }
}
