@import '../../styles/uswdsImports.scss';
@import '../../styles/custom';

.logosRow {
    background-color: $theme-footer-logos-background;
    & img,
    svg {
        padding-right: units(4);
        flex-shrink: 0;
        height: 50px;
        width: auto;
    }
}
.cmsLogos {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.federalLogos {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding: units(2);
    justify-content: flex-end;
    > span {
        max-width: 300px;
    }
}

.contactRow {
    background-color: $theme-color-primary;
    color: $cms-color-white;
    padding: units(3) 0;
    > span {
        margin: units(1);
    }
}
