@use '../../styles/custom.scss' as custom;
@use '../../styles/uswdsImports.scss' as uswds;


.submissionList {
    padding-left: 0;
}
.cardContainer {
    border: 1px solid custom.$mcr-gray-lighter;
    padding: uswds.units(2);
    display: flex;
    justify-content: space-between;
    margin-bottom: uswds.units(2);
    position: relative;
    @include uswds.u-radius('md');
    transition: background-color 200ms linear;

    &:hover {
        background-color: custom.$mcr-gray-lightest
    }
}

.cardLeft {
    width: 50%;

    p {
        margin-bottom: 0;
        line-height: uswds.line-height('body', 3);
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
    }
    a::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
    }
}

.cardRight {
    text-align: right;
}

.submissionType {
    @include uswds.u-font('sans', '3xs');
    display: block;
    margin: uswds.units(1) 0;
}

.tagSuccess {
    background: custom.$mcr-success-base;
}

.tagWarning {
    background: custom.$mcr-gold-dark;
    @include uswds.u-text('ink');
}
