@import '../../styles/uswdsImports.scss';
@import '../../styles/custom';

.submissionList {
    padding-left: 0;
}
.cardContainer {
    border: 1px solid $theme-color-base-lighter;
    padding: units(2);
    display: flex;
    justify-content: space-between;
    margin-bottom: units(2);
    position: relative;
    @include u-radius('md');
    transition: background-color 200ms linear;

    &:hover {
        background-color: $theme-color-base-lightest;
    }
}

.cardLeft {
    width: 50%;

    p {
        margin-bottom: 0;
        line-height: line-height('body', 3);
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
    }
    a::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
    }
}

.cardRight {
    text-align: right;
}

.submissionType {
    @include u-font('sans', '3xs');
    display: block;
    margin: units(1) 0;
}

.tagSuccess {
    background: $theme-color-success;
}

.tagWarning {
    background: $theme-color-warning-dark;
    @include u-text('ink');
}
