@use '../../../styles/custom.scss' as custom;
@use '../../../styles/uswdsImports.scss' as uswds;

@mixin docs-table {
    width: 100%;


    th {
        font-size: uswds.size('body', '2xs');
    }

    th,
    td {
        text-align: left;
        padding: uswds.units(1);
    }

    tbody {
        tr:nth-child(even) {
            background: custom.$mcr-gray-lightest
        }
    }
}
.uploadedDocumentsTable {
   @include docs-table
}

.supportingDocsEmpty {
    text-align: center;
    padding: 1rem;
}

.withMarginTop {
    margin-top: 1.5rem;
}
.captionContainer {
    display: flex;
    justify-content: space-between;
}

.inlineLink{
    display: inline
}

.inlineTag {
    padding: 1px 8px;
    border-radius: 2px;
    height: 18px;
}

.docTagContainer {
    margin-right: 5px !important;
}

caption {
    text-align: left;
    margin-bottom: uswds.units(2);
    margin-top: uswds.units(2);
    font-weight: 700;
}

.missingInfo {
    margin-top: 1rem;

    :first-child {
        margin-right: 5px;
    }
}

