@use '../../../styles/custom.scss' as custom;
@use '../../../styles/uswdsImports.scss' as uswds;

@mixin docs-table {
    width: 100%;

    th {
        font-size: uswds.size('body', '2xs');
    }

    th,
    td {
        text-align: left;
        padding: uswds.units(1);
    }

    tbody {
        tr:nth-child(even) {
            background: custom.$mcr-gray-lightest;
        }
    }
}
.uploadedDocumentsTable {
    @include docs-table;
}

.supportingDocsEmpty {
    text-align: center;
    padding: 1rem;
    margin-bottom: 1rem;
}

.captionContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    margin: 0;
}

.inlineLink {
    display: inline;
    font-size: 16px;
}

.inlineTag {
    padding: 2px 8px;
    border-radius: 2px;
    height: 18px;
}

.docTagContainer {
    margin-right: 5px !important;
}

caption {
    text-align: left;
    font-weight: 700;
}

h5 {
    font-size: 16px;
}

.missingInfo {
    margin-top: 1rem;

    :first-child {
        margin-right: 5px;
    }
}

.withMarginTop {
    margin-top: 1rem;
}
