@use '../../styles/custom.scss' as custom;

.documentHeaderContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 2.5rem;
    border-top: 1px solid custom.$mcr-gray-lighter;
    border-bottom: 1px solid custom.$mcr-gray-lighter;
    margin-top: 0;
    padding-top: 40px;
    padding-bottom: 20px;

    &.removeTopBorder {
        border-top: none;
        padding-top: 10px;
    }

    &.removeBottomBorder {
        border-bottom: none;
    }
}

.header {
    margin: 0;
}