.documentHeaderContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 2.5rem;
}

.header {
    margin: 0;
    font-weight: 400;
    font-size: 24px;
}
