#!/usr/bin/env bash

##########################################
# DO NOT MAKE LOCAL CHANGES TO THIS FILE #
#                                        #
# Vars in this file can be overridden by #
# exporting them in .envrc.local         #
##########################################

# global cloudtamer configuration
export CT_URL='https://cloudtamer.cms.gov/'
export CT_AWS_ROLE='ct-ado-managedcare-developer-admin'
export CT_IDMS='2'

# required values
export SASS_PATH='src:../../node_modules'
export REACT_APP_AUTH_MODE='LOCAL'
export REACT_APP_STAGE_NAME='local'
export REACT_APP_API_URL='http://localhost:3030/local'
export APPLICATION_ENDPOINT='http://localhost:3000'
export CF_CONFIG_IGNORED_LOCALLY='this-value-does-not-matter'
export REACT_APP_S3_LOCAL_URL='http://localhost:4569'
export REACT_APP_S3_DOCUMENTS_BUCKET='local-uploads'
export REACT_APP_S3_QA_BUCKET='local-qa'
export DATABASE_URL='postgresql://postgres:shhhsecret@localhost:5432/postgres?schema=public&connection_limit=5' # pragma: allowlist secret
export EMAILER_MODE='LOCAL'
export LD_SDK_KEY='this-value-must-be-set-in-local'
export PARAMETER_STORE_MODE='LOCAL'
export ALLOWED_IP_ADDRESSES=['127.0.0.1']
export JWT_SECRET='3fd2e448ed2cec1fa46520f1b64bcb243c784f68db41ea67ef9abc45c12951d3e770162829103c439f01d2b860d06ed0da1a08895117b1ef338f1e4ed176448a' # pragma: allowlist secret

export REACT_APP_OTEL_COLLECTOR_URL='http://localhost:4318/v1/traces'
export REACT_APP_LD_CLIENT_ID='this-value-can-be-set-in-local-if-desired'

# Sources a local overrides file. You can export any variables you
# need for your local setup there. Any that match variables set here
# will overwrite them.
if [ -e .envrc.local ]
then
  source_env .envrc.local
fi
