.idea/
.build
.webpack
.infra
.dynamodb
.yarn_install
node_modules
testcafe_results
.DS_Store
build_dev
dev_tool/build
tsconfig.tsbuildinfo
.serverless
.eslintcache
/.env
tests_output
*.log
coverage/
gen/
todo.txt
notes/
.tool-versions

/tests/cypress/screenshots
/tests/cypress/videos

services/app-web/public/env-config.js
services/app-web/storybook-static
services/app-web/build
services/uploads/local_buckets

.envrc.local
lambda_response.json
