.idea/
.build
.webpack
.infra
.dynamodb
.yarn_install
node_modules
testcafe_results
.DS_Store
build_dev
dev_tool/build
tsconfig.tsbuildinfo
.serverless
.eslintcache
/.env
tests_output
*.log
coverage/
gen/
todo.txt
notes/
.tool-versions
dbdump-*


# testing
/coverage
/coverage-all
/coverage-cypress
/reports
.nyc_output
/tests

/scripts/add_cypress_test_users.js*
/scripts/collect_ci_runtime_stats.js*
/scripts/recent_actions_cache.json
/scripts/get-changed-services/index.js*
/scripts/destroy_stage.js*
/scripts/import-programs.js*

services/app-web/public/env-config.js
services/app-web/storybook-static
services/app-web/build
services/app-api/protoMigrations/build
services/uploads/local_buckets

.envrc.local
lambda_response.json

services/app-api/lambda-layers-prisma-client
services/app-api/lambda-layers-prisma-client-migration
services/app-api/lambda-layers-prisma-client-query
services/app-api/lambda-layers-prisma-client-engine
services/app-api/healthPlanFormDataMigrations

services/app-proto/build

services/postgres/scripts/*.js

tests/cypress/fixtures/stores/featureFlagStore.json
