@use '../../styles/custom.scss' as custom;
@use '../../styles/uswdsImports.scss' as uswds;

.bannerBodyText {
    p {
        margin-top: 2px;
        margin-bottom: 2px;

        &:first-child {
            margin-top: 0;
        }
    }
    ul {
        margin-top: 8px;
        margin-bottom: 2px;
    }

    li {
        margin-top: 0;
        line-height: 24px;
    }
}
