@use '../../styles/custom.scss' as custom;
@use '../../styles/uswdsImports.scss' as uswds;

.bannerBodyText {
    p {
        margin: 0;
    }
    ul {
        padding-top: 0;
        padding-bottom: 0;
    }
}
