@use '../../styles/custom.scss' as custom;
@use '../../styles/uswdsImports.scss' as uswds;

.bannerBodyText {
    p {
        margin-top: 2px;
        margin-bottom: 2px;
    }
    ul {
        margin-top: 2px;
        margin-bottom: 2px;
    }

    li {
        margin-top: 8px;
        line-height: 24px;
    }
}
