.maxWidthContainer {
    max-width: 640px;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
}

.selectedUserSummary {
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}

.selectedUserLabel {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    margin-top: 0;
}

.selectedUserAddress {
    font-style: normal;
}

.scopeFieldset {
    margin-bottom: 2rem;
}
