/*
    USWDS theme settings

    See v3 documentation around USWDS core 
    https://designsystem.digital.gov/documentation/settings/
*/
@use 'mcr-colors' as *;

$compilePath: '~@uswds/uswds'; // dist folder path within @uswds/uswds

@use "uswds-core" with (  
    $theme-font-path:  "#{$compilePath}/fonts",
    $theme-image-path: "#{$compilePath}/img",
    $theme-hero-image: "#{$compilePath}/img/hero.jpg",

    $theme-show-notifications: false,
    $theme-show-compile-warnings: true,

    $theme-utility-breakpoints: (
        "card": false,
        "card-lg": false,
        "mobile": false,
        "mobile-lg": false,
        "tablet": true,
        "tablet-lg": false,
        "desktop": true,
        "desktop-lg": false,
        "widescreen": false
     ),


   /* TYPOGRAPHY */
    $theme-font-type-mono: 'roboto-mono',
    $theme-font-type-sans: 'open-sans',
    $theme-font-type-serif: 'merriweather',
    $theme-font-role-heading: 'sans',

   /* SPACING */
    $theme-header-max-width: 'desktop-lg',
    $theme-grid-container-max-width: 'desktop-lg',
    $theme-banner-max-width: 'desktop-lg',
    $theme-footer-max-width: 'desktop-lg',
    
     /* MODAL */
    $theme-modal-border-radius: 0,
    
    /* COLOR */
    $theme-color-base-ink: $mcr-foundation-ink,
    $theme-color-info-dark: $mcr-cyan-dark,
);
