/*
    Custom Application Styles

    This is the main scss for import into component module.scss files.
    Defines custom scss mixins, scss variables and css classes in use across the application.
    Forwards mcr colors variables as well.
*/

@forward 'mcrColors'; // Allows access to colors anywhere custom is imported

@use 'mcrColors' as *;
@use 'uswdsImports.scss' as uswds;

/* CONTAINERS */
// Every page starts with a flex container
@mixin container {
    display: flex;
    flex: 1 0 auto;
}
// We have some established width limits how far page content should stretch laterally. Right now this is controlled by CSS width properties
$mcr-container-standard-width-fixed: 50rem;
$mcr-container-max-width-fixed: 75rem;
$mcr-single-page-width: 40rem;

// Default page width and styles in MC-Review
@mixin default-page-container {
    @include container;
    width: $mcr-container-max-width-fixed;
    background-color: $mcr-foundation-white;
}

// Form pages have larger margin on either side
@mixin form-page-container {
    @include container;
    width: $mcr-container-standard-width-fixed;
}

// Adds blue-cyan  gradient to top border of a container, used on document tables
.borderTopLinearGradient {
    border: 0 solid;
    border-top: 10px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(
        to right,
        $mcr-primary-dark,
        $mcr-cyan-base
    );
    box-shadow:
        inset 0 0 1px $mcr-gray-dark,
        0px 0px 24px rgb(0 0 0 / 5%);
}

@mixin sectionCard {
    padding: uswds.units(4);
    margin-bottom: uswds.units(2);
    margin-top: uswds.units(2);
    background: $mcr-foundation-white;
    border: 1px solid $mcr-gray-lighter;
    @include uswds.u-radius('md');
}
// Notes for future refactor to single page UI
// We should be overriding usa-form max-width across the application, rather than per form page.  Let uswds always take the width of its parent by default
// From figma seems like like single page page width is 40rem but we have  $mcr-container-standard-width-fixed set to 50rem - look at this in future refactor - cross check with design.
// Are single page forms supposed to be the same width as the state submission form?  Unclear.
@mixin standaloneFormPage{
    justify-content: center;
    flex-direction: row;

   form[class^='usa-form']{
        max-width: 100% !important;
        display: flex;
        flex-direction: column;
        width: $mcr-single-page-width;
   }
    #formInnerContainer {
        border: 0;
        margin-top: 2rem;
        margin-bottom: 2rem;
        background: custom.$mcr-foundation-white;
        padding: 2rem;
        width: $mcr-single-page-width;

        h2 {
            margin-top: 0;
        }

        > div[class^='usa-form-group']:not(:first-of-type) {
            margin-top: 2.5rem;
        }
        >fieldset{
           border: 0;
           margin: 0;
           padding:0
        }
    }
}

.standaloneForm{
    @include standaloneFormPage
}
/* ACCESSIBILITY */
// Re-useable classname for hiding UI visually but still having it be read by screenreaders
.srOnly {
    position: absolute;
    left: -1000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
