/*
    Custom Application Styles

    This is the main scss for import into component module.scss files.
    Defines custom scss mixins, scss variables and css classes in use across the application.
    Forwards mcr colors variables as well.
*/

@forward 'mcrColors'; // Allows access to colors anywhere custom is imported

@use 'mcrColors' as *;
@use 'uswdsImports.scss' as uswds;

/* CONTAINERS */
// Every page starts with a flex container
@mixin container {
    display: flex;
    flex: 1 0 auto;
}
// We have some established width limits how far page content should stretch laterally. Right now this is controlled by CSS width properties
$mcr-container-standard-width-fixed: 50rem;
$mcr-container-max-width-fixed: 75rem;
$mcr-single-page-width: 40rem; // based on figma - however, 40rem is also media query tablet width which can lead to trickle effects

// Default page width and styles in MC-Review
@mixin default-page-container {
    @include container;
    width: $mcr-container-max-width-fixed;
    background-color: $mcr-foundation-white;
}

// Form pages have larger margin on either side
@mixin form-page-container {
    @include container;
    width: $mcr-container-standard-width-fixed;
}

@mixin form-fields {
    > [class^='usa-fieldset'] {
        padding: uswds.units(4);
        margin-bottom: uswds.units(2);
        margin-top: uswds.units(2);
        background: $mcr-foundation-white;
        border: 1px solid $mcr-gray-lighter;
        @include uswds.u-radius('md');
    }

    h2 {
        margin-top: 0;
        font-weight: bold;
    }

    // Ignoring lint issues for spinner-size, due to bug in stylelint https://github.com/stylelint/stylelint/issues/8727
    // stylelint-disable-next-line nesting-selector-no-missing-scoping-root
    &[class^='usa-form'] {
        min-width: 100%;
        max-width: 100%;

        @include uswds.at-media('tablet') {
            min-width: 20rem;
            max-width: 40rem;
            margin: 0 auto;
        }
    }
}

// Adds blue-cyan  gradient to top border of a container, used on document tables
.borderTopLinearGradient {
    border: 0 solid;
    border-top: 10px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(
        to right,
        $mcr-primary-dark,
        $mcr-cyan-base
    );
    box-shadow:
        inset 0 0 1px $mcr-gray-dark,
        0px 0px 24px rgb(0 0 0 / 5%);
}

@mixin sectionCard {
    padding: uswds.units(4);
    margin-bottom: uswds.units(2);
    margin-top: 0;
    background: $mcr-foundation-white;
    border: 1px solid $mcr-gray-lighter;
    @include uswds.u-radius('md');
}
// Notes for future refactor to single page UI
// We should be overriding usa-form max-width across the application, rather than per form page.  Let uswds always take the width of its parent by default
// From figma seems like like single page page width is 40rem but we have  $mcr-container-standard-width-fixed set to 50rem - look at this in future refactor - cross check with design.
// Are single page forms supposed to be the same width as the state submission form?  Unclear.
@mixin standaloneFormPage {
    justify-content: center;
    flex-direction: row;

    form[class^='usa-form'] {
        max-width: 100% !important;
        display: flex;
        flex-direction: column;
        width: $mcr-single-page-width;
    }
    #formInnerContainer {
        border: 0;
        margin-top: 2rem;
        margin-bottom: 2rem;
        background: $mcr-foundation-white;
        padding: 2rem;
        width: $mcr-single-page-width;

        h2 {
            margin-top: 0;
        }

        > div[class^='usa-form-group']:not(:first-of-type) {
            margin-top: 2.5rem;
        }
        > fieldset {
            border: 0;
            margin: 0;
            padding: 0;
        }
    }
}

.standaloneForm {
    @include standaloneFormPage;
}

/* TYPOGRAPHY */
// These heading tags are the source of truth for typography. Use these
// utility classes to ensure consistent use of font sizes across headers
@mixin mcr-type-style(
    $font-size,
    $font-weight,
    $line-height,
    $letter-spacing: normal
) {
    font-size: $font-size;
    font-style: normal;
    font-weight: $font-weight;
    line-height: $line-height;
    letter-spacing: $letter-spacing;
}

body {
    @include mcr-type-style(16px, 400, 162%, 0.16px);
}

@mixin mcr-h1-style {
    @include mcr-type-style(34px, 700, 100%);
}

h1 {
    @include mcr-h1-style;
}

@mixin mcr-h2-style {
    @include mcr-type-style(32px, 400, 100%, 0.32px);
}

h2 {
    @include mcr-h2-style;
}

@mixin mcr-h3-style {
    @include mcr-type-style(24px, 400, 120%, 0.24px);
}

h3 {
    @include mcr-h3-style;
}

@mixin mcr-h4-style {
    @include mcr-type-style(20px, 400, 140%, 0.2px);
}

h4 {
    @include mcr-h4-style;
}

@mixin mcr-h5-style {
    @include mcr-type-style(17px, 700, 162%, 0.085px);
}

h5 {
    @include mcr-h5-style;
}

@mixin mcr-h6-style {
    @include mcr-type-style(14px, 700, 162%, 0.14px);
}

h6 {
    @include mcr-h6-style;
}

.mcr-homepage-h1-bold {
    @include mcr-type-style(38px, 700, 100%);
}

.mcr-homepage-h2 {
    font-family: 'Public Sans', sans-serif;
    @include mcr-type-style(22px, 400, 120%);
}

.mcr-homepage-h2-bold {
    font-family: 'Public Sans', sans-serif;
    @include mcr-type-style(22px, 700, 28px);
}

.mcr-h4-bold {
    @include mcr-type-style(20px, 700, 140%, 0.2px);
}

.mcr-tag {
    @include mcr-type-style(14px, 400, 15.87px);
    text-transform: uppercase;
}

.mcr-tag-bold {
    @include mcr-type-style(14px, 700, 15.87px);
    text-transform: uppercase;
}

.mcr-body {
    @include mcr-type-style(16px, 400, 162%, 0.16px);
}

.mcr-body-bold {
    @include mcr-type-style(16px, 700, 162%);
}

/* ACCESSIBILITY */
// Re-useable classname for hiding UI visually but still having it be read by screenreaders
.srOnly {
    position: absolute;
    left: -1000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

// CSS class for form input note fields
.mcr-note {
    color: $mcr-foundation-note;
}
