/*
    Overrides and Global Styles

    Use caution editing this file. Changes to this file impact css across the application. Order matters as well.
    Discussion of this file can be found in "How to style with CSS and SCSS" documentation.
*/

@use 'mcrColors' as *;

// TYPOGRAPHY
// Override USWDS default font stack to prioritize Open Sans before system fonts
// Using !important to ensure this takes precedence over USWDS styles that load after
body,
html {
    font-family:
        'Open Sans',
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Helvetica,
        Arial,
        sans-serif !important;
}

// FORM FIELDS
.usa-label,
.usa-legend {
    font-weight: bold;
}

.usa-hint:not(.usa-character-count__message--invalid) {
    color: $mcr-foundation-hint;
}

.usa-hint span {
    display: block;
    margin-top: 1rem;
}

.usa-checkbox__label,
.usa-radio__label {
    margin-top: 1rem;
}

// TOOLTIP
// This can be removed removed when https://github.com/uswds/uswds/issues/4458 is fixed
.usa-tooltip__body {
    opacity: 0;
}

// USWDS Radio overrides
// Adjust color contrast and font weight of disabled radio options to adhere to 7:1 contrast ratio
.usa-radio__input:disabled + [class*='__label'] {
    color: #1b1b1b;
    font-weight: lighter;
}

.usa-radio__input:disabled + [class*='__label']::before {
    box-shadow: 0 0 0 2px #7a7a7a;
}

.usa-radio__input:checked:disabled + [class*='__label']::before {
    background-color: #7a7a7a;
    box-shadow:
        0 0 0 2px #7a7a7a,
        inset 0 0 0 2px white;
}

// BUTTONS
// todo - bring these styles into ActionButton, use ActionButton everywhere and delete this override
// Removes html link styles from uswds button-styled links, used anywhere we have a link (Add New Submission) that looks a button
a[class^='usa-button usa-button--outline'] {
    text-decoration: none !important;
    color: $mcr-primary-dark !important;
}

// accessibility contrast color fix for the inverse button.
.usa-button--outline.usa-button--inverse {
    box-shadow: inset 0 0 0 2px $mcr-foundation-white;
    color: $mcr-foundation-white !important;
    &:hover {
        box-shadow: inset 0 0 0 2px $mcr-gray-lighter;
        color: $mcr-gray-lighter !important;
    }
}
