/*
Read more about USWDS settings
https://designsystem.digital.gov/documentation/settings/
*/

/* GENERAL */
// Must be relative path because it will try to load assets from uswds/dist/scss/core/(path)
$theme-font-path: '../../../fonts';
$theme-image-path: '../../../img';
$theme-hero-image: '../../../dist/img/hero.png';

$theme-show-notifications: false;
$theme-show-compile-warnings: false;

/* TYPOGRAPHY */
$theme-font-type-mono: 'roboto-mono';
$theme-font-type-sans: 'open-sans';
$theme-font-type-serif: 'merriweather';
$theme-font-role-heading: 'sans';
// /* SPACING */
$theme-header-max-width: 'desktop-lg';
$theme-grid-container-max-width: 'desktop-lg';
$theme-banner-max-width: 'desktop-lg';
$theme-footer-max-width: 'desktop-lg';

/* COLOR */

/* COMPONENTS */
$theme-footer-logos-background: #f0fafd;

/* MODAL */
$theme-modal-border-radius: 0;
