/* Order matters in this file. */
@import '~uswds/src/stylesheets/theme/_uswds-theme-general.scss';
@import '~uswds/src/stylesheets/theme/_uswds-theme-typography.scss';
@import '~uswds/src/stylesheets/theme/_uswds-theme-spacing.scss';
@import '~uswds/src/stylesheets/theme/_uswds-theme-color.scss';
@import '~uswds/src/stylesheets/theme/_uswds-theme-utilities.scss';
@import '~uswds/src/stylesheets/theme/_uswds-theme-components.scss';

@import './uswdsSettings.scss';

@import '~uswds/src/stylesheets/packages/_required.scss';
