@use '../../styles/custom.scss' as custom;
@use '../../styles/uswdsImports.scss' as uswds;

.warningRow {
    & td {
        background-color: transparent;
    }
}

.fileInputError {
    background-color: custom.$mcr-error-light;
}

.loadingImage {
    float: left;
}

.checkbox {
    & label {
        margin-top: 0px;
        padding-bottom: 20px;
    }
}

.fileInput {
    max-width: none;
}
.fileInputHint {
    display: flex;
    flex-direction: column;
    color: custom.$mcr-foundation-hint;
    margin-bottom: 0.5rem;
}

.requiredOptionalText {
    display: block;
    color: custom.$mcr-foundation-hint;
}

.fileSummary {
    font-weight: normal;
    @include uswds.u-font('sans', 'sm');
    @include uswds.u-padding(1);
    @include uswds.u-margin-y(1px);
    background: custom.$mcr-primary-light;
}

.fileItemsList {
    list-style-type: none;
    display: inline-block;
    padding: 0;
    margin: 0 0 -1px;
    width: 100%;
}

.fileItem {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    pointer-events: all;
}

.fileItemText {
    display: flex;
    align-items: center;
    flex: 3;
    font-size: 0.82rem;
}

.fileItemBoldMessage {
    font-weight: bold;
    font-size: 0.82rem;
}

.fileItemButtons {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex: 1;
    align-items: flex-end;
    > button {
        margin-top: 0 !important;
        padding-left: 5px;
    }
}
