@import '../../styles/uswdsImports.scss';
@import '../../styles/custom';

.warningRow {
    & td {
        background-color: transparent;
    }
}

.loadingImage {
    float: left;
}

.fileInput {
    max-width: none;
}
.fileInputHint {
    display: flex;
    flex-direction: column;
    color: #71767a;
    margin-bottom: 0.5rem;
}

.fileSummary {
    font-weight: normal;
    @include u-font('sans', 'sm');
    @include u-padding(1);
    @include u-margin-y(1px);
    background: $theme-color-primary-lighter;
}

.fileItemsList {
    list-style-type: none;
    display: inline-block;
    padding: 0;
    margin: 0 0 -1px;
    width: 100%;
}

.fileItem {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    pointer-events: all;
}

.fileItemText {
    display: flex;
    align-items: center;
    flex: 3;
    font-size: 0.82rem;
}

.fileItemBoldMessage {
    font-weight: bold;
    font-size: 0.82rem;
}

.fileItemButtons {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex: 1;
    align-items: flex-end;
    > button {
        margin-top: 0 !important;
        padding-left: 5px;
    }
}
