@import '../../styles/uswdsImports.scss';
@import '../../styles/custom';

.detailsSection {
    background-color: $cms-color-background;
    flex: 1;
    padding: units(4) 0;
    .detailsSectionContent {
        max-width: 65rem;
        .detailsSteps {
            padding: units(4);
            margin: units(2) 0;
            border: 1px solid $theme-color-base-lighter;
            @include u-radius('lg');
            h2 {
                margin-top: 0;
                margin-bottom: units(4);
            }
            ul > li {
                padding: 0 0 units(4) 0;
            }
            ul > li span {
                display: block;
            }
            ul > li span:first-child {
                font-weight: bold;
                margin-bottom: units(1);
            }
        }
        .detailsList {
            > li {
                padding: units(1);
                font-size: size('body', 'md')
            }
        }
    }

}
