@import '../../styles/uswdsImports.scss';
@import '../../styles/custom.scss';

$details-text-line-height: 1.5;

.detailsSection {
    background-color: $mcr-foundation-white;
    flex: 1;
    color: $mcr-cmsblue-base;
    padding: units(4) 0;
    .detailsSectionContent {
        max-width: 65rem;
        h2 {
            line-height: line-height('heading', 3);
        }
        .detailsSteps {
            padding: units(4);
            border: 1px solid $mcr-gray-lighter;
            @include u-radius('lg');
            h2 {
                margin-top: 0;
                margin-bottom: units(4);
            }
            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
            }
            ul > li {
                padding: 0 0 units(7) 0;
                border-left: 3px solid $mcr-gray-lighter;
                padding-left: units(4);
                position: relative;
                line-height: $details-text-line-height;

                &:last-child {
                    padding-bottom: 0;
                    border-left: 3px solid transparent;
                }
                &::before {
                    position: absolute;
                    left: -18px;
                    top: -5px;
                    background-color: $mcr-foundation-white;
                }
                &.login::before {
                    content: url(../../assets/images/login-icon.svg);
                }
                &.upload::before {
                    content: url(../../assets/images/upload-icon.svg);
                }
                &.email::before {
                    content: url(../../assets/images/email-icon.svg);
                }
            }
            ul > li span {
                display: block;
            }
            ul > li span:first-child {
                font-weight: bold;
                margin-bottom: units(1);
            }
        }
        .detailsList {
            > li {
                padding: units(1);
                line-height: $details-text-line-height;
            }
        }
    }
}
