@use '../../styles/custom.scss' as custom;
@use '../../styles/uswdsImports.scss' as uswds;

.green {
    @include uswds.u-bg('green-cool-50');
}
.emphasize {
    font-weight: bold;
    border: 1px solid black;
}
.gray {
    @include uswds.u-bg('gray-cool-10');
    color: custom.$mcr-foundation-ink;
}

.gray-medium {
    @include uswds.u-bg('gray-60');
    color: custom.$mcr-foundation-white;
}

.light-green {
    @include uswds.u-bg('green-cool-20v');
    color: custom.$mcr-foundation-ink;
}

.gold {
    @include uswds.u-bg('gold-20v');
    color: custom.$mcr-foundation-ink;
}

.cyan {
    @include uswds.u-bg('cyan-20');
    color: custom.$mcr-foundation-ink;
}

.blue {
    @include uswds.u-bg('blue-cool-5v');
    color: custom.$mcr-foundation-ink;
}

.base-dark {
    @include uswds.u-bg('base-dark');
    color: custom.$mcr-foundation-white;
}
