 @use "uswds-core" as *;
@import '../../styles/custom.scss';

.green {
    @include u-bg('green-cool-50');
}

.gold {
    @include u-bg('gold-20v');
    color: $theme-color-base-ink;
}

.cyan {
    @include u-bg('cyan-40v');
    color: $theme-color-base-ink;
}

.blue {
    @include u-bg('blue-cool-5v');
    color: $theme-color-base-ink;
}
