@use "uswds-core" as *;
@use '../../styles/custom.scss' as *;

.green {
    @include u-bg('green-cool-50');
}

.gold {
    @include u-bg('gold-20v');
    color: $mcr-ink;
}

.cyan {
    @include u-bg('cyan-40v');
    color: $mcr-ink;
}

.blue {
    @include u-bg('blue-cool-5v');
    color: $mcr-ink;
}
