@use '../../styles/custom.scss' as custom;
@use '../../styles/uswdsImports.scss' as uswds;

.green {
    @include uswds.u-bg('green-cool-50');
}

.gold {
    @include uswds.u-bg('gold-20v');
    color: custom.$mcr-foundation-ink;
}

.cyan {
    @include uswds.u-bg('cyan-40v');
    color: custom.$mcr-foundation-ink;
}

.blue {
    @include uswds.u-bg('blue-cool-5v');
    color: custom.$mcr-foundation-ink;
}
