@import '../../styles/uswdsImports.scss';
@import '../../styles/custom.scss';

.summarySection {
    background: $mcr-foundation-white;
    line-height: units(3);
    @include u-radius('md');

    h2 {
        margin: 0;
        @include u-text('normal');
    }
    &:first-of-type {
        h2 {
            @include u-text('bold');
            font-size: size('body', 'lg');
        }
    }
}

.tag {
    font-weight: bold;
}

.accordionRows {
    font-size: 40px;
}
