@use '../../styles/custom.scss' as custom;
@use '../../styles/uswdsImports.scss' as uswds;

.summarySection {
    background: custom.$mcr-foundation-white;
    line-height: uswds.units(3);
    @include uswds.u-radius('md');

    h2 {
        margin: 0;
        @include uswds.u-text('normal');
    }
    &:first-of-type {
        h2 {
            @include uswds.u-text('bold');
            font-size: size('body', 'lg');
        }
    }
}

.tag {
    font-weight: bold;
}

.accordionRows {
    font-size: 40px;
}
