@import '../../styles/uswdsImports.scss';
@import '../../styles/custom';

.formHeader {
    text-align: center;
    width: 100%;

    h2 {
        margin: units(4) 0;
    }
}

.formContainer {
    padding: units(4);
    background: $cms-color-white;
    border: 1px solid $theme-color-base-lighter;
    @include u-radius('md');

    h2 {
        margin-top: 0;
    }
}

.formGroup {
    margin: units(4) 0;
}

.formGroupLast {
    composes: formGroup;
    margin-bottom: 0;
}

.buttonGroup {
    justify-content: flex-end;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: units(3);
}
