@import '../../styles/uswdsImports.scss';
@import '../../styles/custom';

.formHeader {
    text-align: center;
    width: 100%;

    h2 {
        padding: units(4) 0;
    }
}

.formContainer {
    padding: units(4);
    background: $cms-color-white;
    border: 1px solid $theme-color-base-lighter;
    @include u-radius('md');

    h2 {
        margin-top: 0;
    }

    > div[class^='usa-form-group']:not(:first-of-type) {
        margin-top: 2.5rem;
    }

    &[class^='usa-form'] {
        min-width: units('mobile-lg');
    }
}

.radioGroup {
    legend {
        margin-top: 0;
    }
}
.buttonGroup {
    justify-content: flex-end;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: units(3);

    .outlineButtonLink {
        // use this to remove styles from an outline button-styled link
        text-decoration: none;
        color: #1a4480 !important;
    }
}

.dateRangePicker {
    [class^='usa-label']{
        font-weight: normal;
    }
}
