@import '../../styles/uswdsImports.scss';
@import '../../styles/custom.scss';

.formPage {
    width: 100%;
}

.mccrsIDForm  {
    [class^='usa-breadcrumb'] {
        min-width: 40rem;
        max-width: 20rem;
        margin: 0 auto;
    }
}

.formContainer.tableContainer {

    &[class^='usa-form'] {
        max-width: 100%;
        width: 75rem;
    }
}

.formHeader {
    text-align: center;
    width: 100%;
    padding: units(4) 0;
}

.formContainer {
    > [class^='usa-fieldset'] {
        padding: units(4);
        margin-bottom: units(2);
        margin-top: units(2);
        background: $cms-color-white;
        border: 1px solid $theme-color-base-lighter;
        @include u-radius('md');
    }

    h3 {
        font-size: 22px;
    }

    > div[class^='usa-form-group']:not(:first-of-type) {
        margin-top: 2.5rem;
    }

    &[class^='usa-form'] {

        min-width: 100%;
        max-width: 100%;

        @include at-media(tablet){
            min-width: 40rem;
            max-width: 20rem;
            margin: 0 auto;
        }
    }
}

[class^='usa-legend'] {
    margin-top: 0;
}

div[class^='usa-form-group'] {
    margin-top: 24px;
    label[class^='usa-label'] {
        font-size: 16px;
        max-width: 100%;
    }
}

.customHeading {
    font-weight: 700;

    span {
        font-weight: normal;
        margin-left: 16px;
    }
}

div[class^='usa-hint'] span {
    span {
        display: inline;
        font-weight: bold;
    }
} 

ul[class^='usa-button-group'] {
    justify-content: end;
    li[class^='usa-button-group__item'] {
        margin-top: 0;
        button {
            margin-top: 16px;
            margin-bottom: 44px;
            margin-right: .25rem;
        }
    } 
}

