@use '../../styles/custom.scss' as custom;
@use '../../styles/uswdsImports.scss' as uswds;

.mccrsIDForm {
    @include custom.mini-form-page-container;
}

.formContainer {
    @include custom.mini-form-fields;

    div[class^='usa-form-group'] {
        margin-top: 24px;
        label[class^='usa-label'] {
            font-size: 16px;
            max-width: 100%;
        }
    }

    [class^='usa-legend'] {
        margin-top: 0;
    }

    div[class^='usa-hint'] span {
        span {
            display: inline;
            font-weight: bold;
        }
    }
}
