@use '../../styles/custom.scss' as custom;
@use '../../styles/uswdsImports.scss' as uswds;

.expandableBlock {
    line-height: initial;
}

.textExpanded {
    height: auto;
    display: -webkit-box;
}

.textContracted {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.showMoreButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-top: 0.5rem;
}
