@import '../../styles/uswdsImports.scss';
@import '../../styles/custom.scss';

.textExpanded {
    height: auto;
    display: -webkit-box;
}

.textContracted {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.showMoreButton {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

.container {
    max-width: $width-max-contained;
}
