@use '../../styles/custom.scss' as custom;
@use '../../styles/uswdsImports.scss' as uswds;

.disabledCursor {
    cursor: not-allowed;
}

.buttonTextWithIcon {
    vertical-align: middle;
    margin-left: 0.5rem;
}

.buttonTextWithoutIcon {
    vertical-align: middle;
}
