@import '../../styles/uswdsImports.scss';
@import '../../styles/custom';

.app {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.mainContent {
    flex: 1 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: color('base-lightest');
}

.loadingLabel {
    margin-top: 10vh;
    text-align: center;
    color: gray;
}
