@import '../../styles/uswdsImports.scss';
@import '../../styles/custom.scss';

.app {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.mainContent {
    flex: 1 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: color('base-lightest');
}

.testEnvironmentBanner {
    background-color: $mcr-gold-darker;
    font-weight: bold;
    text-align: center;
    font-size: 1rem;
    padding: .5rem;
}
