@use '../../../styles/custom.scss' as custom;
@use '../../../styles/uswdsImports.scss' as uswds;

.navigation {
    background-color: custom.$mcr-cmsblue-base;
    border-top: 0.125rem solid custom.$mcr-periwinkle;
    position: relative;
    z-index: 1;
}

.navigationContainer {
    max-width: custom.$mcr-container-max-width-fixed;
    display: flex;
    padding-left: 1rem;
}

.primaryNav {
    float: none !important;
    display: flex !important;
    width: 100%;
    padding: 0;
    background: transparent !important;
    border-right: 0;

    :global(.usa-nav__primary) {
        display: flex !important;
        justify-content: flex-start;
        width: 100%;
        list-style: none;
        margin: 0;
        padding: 0;
        border-top: 0;
    }

    :global(.usa-nav__primary-item) {
        display: flex;
        float: none;
        border-top: 0;
    }

    :global(.usa-nav__close) {
        display: none !important;
    }
}

.navigationLink {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 3.25rem;
    padding: 1rem 1rem 1.25rem;
    color: custom.$mcr-foundation-white !important;
    font-size: 1rem;
    font-weight: 700;
    line-height: 150%;
    text-decoration: none !important;
    white-space: nowrap;
    transition: box-shadow 0.15s ease;
    
    &:hover {
        .navigationLabel::after {
            background-color: custom.$mcr-blue-cool-light;
        }
    }

    &:active {
        box-shadow: inset 0 0 0 0.25rem custom.$mcr-blue-vivid;

        .navigationLabel::after {
            background-color: transparent;
        }
    }

    &:focus-visible {
        outline: 0.125rem solid custom.$mcr-foundation-white;
        outline-offset: -0.125rem;
    }
}

.navigationLabel {
    position: relative;
    display: inline-block;

    &::after {
        content: '';
        position: absolute;
        right: 0;
        bottom: -1.25rem;
        left: 0;
        height: 0.25rem;
        background-color: transparent;
    }
}

.navigationLinkActive .navigationLabel::after {
    background-color: custom.$mcr-cyan-vivid;
}

@include uswds.at-media-max('tablet') {
    .primaryNav {
        :global(.usa-nav__primary) {
            justify-content: space-between;
        }

        :global(.usa-nav__primary-item) {
            flex: 1 1 0;
        }
    }

    .navigationLink {
        width: 100%;
        padding-right: 0.75rem;
        padding-left: 0.75rem;
        text-align: center;
    }
}
