@use "uswds-core" as *;
@use '../../styles/custom.scss' as *;

.dataDetail {
    margin-bottom: units(4);

    @include at-media(tablet) {
        margin-bottom: 0;
    }

    dt {
        font-weight: bold;
    }

    dd {
        display: block;
        margin: 0;
        line-height: 1.5;
    }
    .address {
    line-height: 1.5; 
}

}

.missingInfo {
    color: $mcr-error-base;
    font-weight: 700;
    display: flex;
}
