@use '../../styles/custom.scss' as custom;
@use '../../styles/uswdsImports.scss' as uswds;

.dataDetail {
    margin-bottom: uswds.units(4);

    @include uswds.at-media(tablet) {
        margin-bottom: uswds.units(2);
    }

    dt {
        font-weight: bold;
    }

    dd {
        display: block;
        margin: 0;
        line-height: 1.5;
    }
}

.missingInfo {
    color: custom.$mcr-error-base;
    font-weight: 700;
    display: flex;
}
