@import '../../styles/uswdsImports.scss';
@import '../../styles/custom.scss';

.background {
  background-color: $mcr-foundation-white;
  width: 100%;
}

.container {
  max-width: $mcr-container-standard-width-fixed;
  padding: 2rem 0;
}

.questionSection {
  margin: units(2) auto;
  background: $mcr-foundation-white;
  padding: units(4) units(4);
  border: 1px solid $mcr-gray-lighter;
  line-height: units(3);
  width: 100%;
  @include u-radius('md');

  h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: units(2) 0;
    @include u-text('normal');
  }
}

.breadcrumbs {
  background: none;
  margin: units(2) auto;
}
.formContainer {
    > [class^='usa-fieldset'] {
        padding: units(4);
        margin-bottom: units(2);
        margin-top: units(2);
        background: $mcr-foundation-white;
        border: 1px solid $mcr-gray-lighter;
        @include u-radius('md');
    }

    h2 {
        margin-top: 0;
    }

    > div[class^='usa-form-group']:not(:first-of-type) {
        margin-top: 2.5rem;
    }

    &[class^='usa-form'] {

        min-width: 100%;
        max-width: 100%;

        @include at-media(tablet){
            min-width: 40rem;
            max-width: 20rem;
            margin: 0 auto;
        }
    }
}
