@use '../../styles/custom.scss' as custom;
@use '../../styles/uswdsImports.scss' as uswds;

.formPage {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start
}

.notificationContainer {
    max-width: custom.$mcr-container-standard-width-fixed;
    padding: 2rem 0;
}
