@use '../../styles/custom.scss' as custom;
@use '../../styles/uswdsImports.scss' as uswds;

.modal {
    max-width: 50rem;
    div {
        div {
            margin: 0;
        }
    }

    textarea {
        max-width: 100%;
        margin-bottom: 1rem;
    }

}

.submitSuccessButton {
    background: custom.$mcr-success-base;
    &:hover {
        background-color: custom.$mcr-success-hover !important;
    }
}

