 @use "uswds-core" as *;
@import '../../styles/custom.scss';

.reviewSectionWrapper {
    max-width: $container-width-max-fixed;
}


.submitButton {
    background: $theme-color-success;
    &:hover {
      background-color: #2a7a3b !important;
    }
}

.modalInputTextarea {
    max-width: 100%;
    margin-bottom: 1rem;
}
