@use '../../styles/custom.scss' as custom;
@use '../../styles/uswdsImports.scss' as uswds;

.reviewSectionWrapper {
    max-width: custom.$mcr-container-standard-width-fixed;
}


.submitButton {
    background: custom.$mcr-success-base;
    &:hover {
      background-color: custom.$mcr-success-hover !important;
    }
}

.modalInputTextarea {
    max-width: 100%;
    margin-bottom: 1rem;
}
