@use "uswds-core" as *;
@use '../../styles/custom.scss';

.reviewSectionWrapper {
    max-width: custom.$container-width-max-fixed;
}


.submitButton {
    background: color($theme-color-success);
    &:hover {
      background-color: #2a7a3b !important;
    }
}

.modalInputTextarea {
    max-width: 100%;
    margin-bottom: 1rem;
}
