@use '../../styles/custom.scss' as custom;
@use '../../styles/uswdsImports.scss' as uswds;

.background {
    background-color: custom.$mcr-foundation-white;
    width: 100%;
}

.backgroundFullPage {
    background-color: custom.$mcr-foundation-white;
    width: 100%;
    flex: 1 0 auto;
}

.container {
    max-width: custom.$mcr-container-standard-width-fixed;
    padding: 2rem 0;
}

.subHeader {
    margin-top: 17.5px;
    span {
        font-weight: bold;
        margin-top: 0;

        &.mccrsID a {
            display: inline-block;
            margin-left: 5px;
            margin-top: 0px;
        }
    }
    a.editLink {
        margin-top: 0;
    }
}

.banner {
    margin: uswds.units(2) auto;
}

.backLinkContainer {
    padding-top: uswds.units(2);
    padding-bottom: uswds.units(2);
}
.backLinkContainerNoSideBar {
    padding-bottom: uswds.units(2);
}
