@use "uswds-core" as *;
@use '../../styles/custom.scss';

.background {
    background-color: custom.$background-white;
    width: 100%;
}

.container {
    max-width: custom.$container-width-max-fixed;
    padding: 2rem 0;
}

.banner {
    margin: units(2) auto;
}
