@import '../../styles/uswdsImports.scss';
@import '../../styles/custom.scss';

.background {
    background-color: $cms-color-white;
    width: 100%;
}

.backgroundFullPage {
    background-color: $cms-color-white;
    width: 100%;
    flex: 1 0 auto;
}

.container {
    max-width: $width-max-contained;
    padding: 2rem 0;
}

.banner {
    margin: units(2) auto;
}

.backLinkContainer {
    padding-top: units(2);
    padding-bottom: units(2);
  }
  .backLinkContainerNoSideBar {
    padding-bottom: units(2);
  }