 @use "uswds-core" as *;
@import '../../styles/custom.scss';

.background {
    background-color: custom.$background-white;
    width: 100%;
}

.container {
    max-width: $container-width-max-fixed;
    padding: 2rem 0;
}

.banner {
    margin: units(2) auto;
}
