@import '../../styles/uswdsImports.scss';
@import '../../styles/custom.scss';

.background {
    background-color: $mcr-foundation-white;
    width: 100%;
}

.container {
    max-width: $mcr-container-standard-width-fixed;
    padding: 2rem 0;

    [id=submissionTypeSection] {
        [class^='SectionHeader_summarySectionHeader'] {
            flex-direction: column;
            align-items: flex-start;

            div {
                margin: 0;
            }
        }
    }
}

.unlockReasonTextarea {
    max-width: 100%;
}

.submissionVersion {
    color: $mcr-gold-dark;
    margin: 0;
}
