@use "uswds-core" as *;
@use '../../styles/custom.scss' as *;

.background {
    background-color: $mcr-white;
    width: 100%;
}

.container {
    max-width: $mcr-container-max-width-fixed;
    padding: 2rem 0;

    [id=submissionTypeSection] {
        [class^='SectionHeader_summarySectionHeader'] {
            flex-direction: column;
            align-items: flex-start;

            div {
                margin: 0;
            }
        }
    }
}

.unlockReasonTextarea {
    max-width: 100%;
}

.submissionVersion {
    color: $mcr-gold-dark;
    margin: 0;
}
