@use '../../styles/custom.scss' as custom;
@use '../../styles/uswdsImports.scss' as uswds;

.background {
    background-color: custom.$mcr-foundation-white;
    width: 100%;
}

.container {
    max-width: custom.$mcr-container-standard-width-fixed;
    padding: 2rem 0;

    [id='submissionTypeSection'] {
        [class^='SectionHeader_summarySectionHeader'] {
            flex-direction: column;
            align-items: flex-start;

            div {
                margin: 0;
            }
        }
    }
}

.unlockReasonTextarea {
    max-width: 100%;
}

.submissionVersion {
    color: custom.$mcr-gold-dark;
    margin: 0;
}
