@use '../../styles/custom.scss' as custom;
@use '../../styles/uswdsImports.scss' as uswds;

.formPage {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

.stepIndicator {
    @include uswds.grid-container;
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;

    > [class^='usa-step-indicator'] {
        width: 100%;
    }
}

.formHeader {
    text-align: center;
    width: 100%;
    padding: uswds.units(4) 0;
}
.banner {
    margin: uswds.units(2);
}

.formContainer {
    > [class^='usa-fieldset'] {
        padding: uswds.units(4);
        margin-bottom: uswds.units(2);
        margin-top: uswds.units(2);
        background: custom.$mcr-foundation-white;
        border: 1px solid custom.$mcr-gray-lighter;
        @include uswds.u-radius('md');
    }
    // for supporting documents
    > & .tableContainer {
        &[class^='usa-form'] {
            max-width: 100%;
            width: 75rem;
        }
    }

    // the first fieldset of the form sets up form container
    // in cases where form has multiple sub sections using SectionCard - use .withSections class
    > [class^='usa-fieldset']:not([class~='with-sections']) {
        @include custom.sectionCard;
    }

    > div[class^='usa-form-group']:not(:first-of-type) {
        margin-top: 2.5rem;
    }

    &[class^='usa-form'] {
        min-width: 100%;
        max-width: 100%;

        @include uswds.at-media(tablet) {
            min-width: 40rem;
            max-width: 20rem;
            margin: 0 auto;
        }
    }
}

[class^='usa-legend'] {
    margin-top: 0;
}

.buttonGroup {
    justify-content: flex-end;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: uswds.units(3);
}

.dateRangePicker {
    [class^='usa-label'] {
        font-weight: normal;
    }
    [class^='usa-form-group'] {
        margin-top: 0.75rem;
    }
}

.nestedOptions {
    padding-left: uswds.units(4);
    margin: uswds.units(2) 0;
    border-left: 4px solid custom.$mcr-primary-base;

    legend,
    label {
        font-weight: normal;
    }
}

.nestedOptionsError {
    padding-left: uswds.units(4);
    margin: uswds.units(2) 0;
    border-left: 4px solid custom.$mcr-error-base;
}

.stateContact,
.actuaryContact {
    margin-bottom: uswds.units(2);
}

.addRateBtn {
    margin-top: 0 !important; // overriding USWDS form btn styles for this case
}

.rateName {
    margin-bottom: 0;
}

.stateContacts,
.actuaryContacts {
    .addContactBtn {
        margin-top: 0.5rem;
    }
}

.removeContactBtn {
    margin-top: uswds.units(3);
    color: custom.$mcr-error-base;
}

.capitationLegend {
    p {
        margin-top: 0;
    }
}

.legendSubHeader {
    font-weight: normal;
    &.requiredOptionalText {
        margin-bottom: uswds.units(2);
    }
}

.guidanceTextBlock {
    padding-top: 0;
    display: flex;
    flex-direction: column;
}

.requiredOptionalText {
    display: block;
    color: custom.$mcr-foundation-hint;
}

.guidanceTextBlockNoPadding {
    display: flex;
    flex-direction: column;
}

.contractAttestation {
    max-width: none;
    legend {
        max-width: none;
    }
    label {
        max-width: none;
    }
    div[role='note'] {
        margin-top: uswds.units(0);
    }
}
