@import '../../styles/uswdsImports.scss';
@import '../../styles/custom';

.tableContainer {
    max-width: 100%;
    width: 66rem;
}

.formHeader {
    text-align: center;
    width: 100%;
    padding: units(4) 0;
}

.formContainer {
    > [class^='usa-fieldset'] {
        padding: units(4);
        margin-bottom: units(2);
        background: $cms-color-white;
        border: 1px solid $theme-color-base-lighter;
        @include u-radius('md');
    }

    h2 {
        margin-top: 0;
    }

    > div[class^='usa-form-group']:not(:first-of-type) {
        margin-top: 2.5rem;
    }

    &[class^='usa-form'] {
        min-width: 40rem;
    }
}

.radioGroup {
    legend {
        margin-top: 0;
    }
}

.buttonGroup {
    justify-content: flex-end;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: units(3);
}

.dateRangePicker {
    [class^='usa-label'] {
        font-weight: normal;
    }
    [class^='usa-form-group'] {
        margin-top: 0.75rem;
    }
}

.nestedOptions {
    padding-left: units(4);
    margin: units(2) 0;
    border-left: 4px solid $theme-color-primary;

    legend,
    label {
        font-weight: normal;
    }
}

.nestedOptionsError {
    padding-left: units(4);
    margin: units(2) 0;
    border-left: 4px solid $theme-color-error-darker;
}

.stateContact,
.actuaryContact {
    margin-bottom: units(5);

    .removeContactBtn {
        margin-top: 0.5rem;
        @include u-text('secondary');
    }
}

.stateContacts,
.actuaryContacts {
    .addContactBtn {
        margin-top: 0.5rem;
    }

    .removeContactBtn {
        margin-top: units(4);
    }
}

// react-select draws the chips in two parts, so we round the outer and square in the inner corners
.multiSelect {
    padding-top: 12px;
    [class*='program-select__multi-value'] {
        border-radius: 99rem 99rem 99rem 99rem;
    }
    [class*='program-select__multi-value__label'] {
        background: $cms-color-primary;
        color: white;
        border-radius: 99rem 0rem 0rem 99rem;
    }
    [class*='program-select__multi-value__remove'] {
        background: $cms-color-primary;
        color: white;
        border-radius: 0rem 99rem 99rem 0rem;
    }
}
