@import '../SubmissionSummarySection.module.scss';

.summarySection {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            padding: units(1) 0;
        }
    }
}
