@import '../../styles/uswdsImports.scss';
@import '../../styles/custom.scss';

.backgroundSidebar {
  background-color: $mcr-foundation-white;
  width: 100%;
  height: 100%;
  flex: 1;
}
.backgroundForm {
  width: 100%;
}


.container {
  @include default-page-container;
  display: flex;
  flex-direction: row;
}

.sideNavContainer {
  padding: 2rem 0;
  width: 20rem;
  max-width: $mcr-container-max-width-fixed;
}

.backLinkContainer {
  padding-top: units(2);
  padding-bottom: units(4);
}
