@use "uswds-core" as *;
@use '../../styles/custom.scss' as *;

.backgroundSidebar {
  background-color: $mcr-white;
  width: 100%;
}
.backgroundForm {
  width: 100%;
}


.container {
  @include grid-container;
  display: flex;
  flex-direction: row;
}

.sideNavContainer {
  padding: 2rem 0;
  width: 20rem;
}

.backLinkContainer {
  padding-top: units(2);
  padding-bottom: units(4);
}
