@import '../../../styles/uswdsImports.scss';

.message {
    a {
        border: 0;
        background: transparent;
        text-decoration: underline;
        cursor: pointer;
        font-weight: normal;
        text-align: left;
        &, &:visited {
            color: color($theme-link-color);
        }
    }
}

.summary {
    h3 {
        font-weight: bold;
    }
    ol {
        padding-left: 1rem;
    }
    margin-bottom: 1rem;
}