@use '../../../styles/custom.scss' as custom;
@use '../../../styles/uswdsImports.scss' as uswds;
.message {
    a {
        border: 0;
        background: transparent;
        text-decoration: underline;
        cursor: pointer;
        font-weight: normal;
        text-align: left;
        &,
        &:visited {
            color: custom.$mcr-foundation-ink;
        }
    }
}

.summary {
    h3 {
        font-weight: bold;
    }
    ol {
        padding-left: 1rem;
    }
    margin-bottom: 1rem;
}
