@use '../../styles/custom.scss' as custom;
@use '../../styles/uswdsImports.scss' as uswds;

.easi-only-print {
    display: none;
}

.easi-tabs {
    overflow: hidden;
    height: 85% &__navigation {
        display: flex;
        justify-content: space-between;
        position: relative;
        max-width: custom.$mcr-container-standard-width-fixed;
        margin: 0 auto;
    }

    &__tab-list {
        display: inline-block;
        padding: 0;
        margin: 0 0 -1px;
        list-style-type: none;
        white-space: nowrap;
        background-color: custom.$mcr-foundation-white;
    }

    &__tab-btn {
        padding: 0;
        border: 0;
        font-size: 100%;
        font-weight: 700;

        &:hover {
            cursor: pointer;
        }
    }

    &__tab {
        display: inline-flex;
        align-items: center;
        height: 100%;
        flex-shrink: 0;
        position: relative;
        border: 1px solid custom.$mcr-gray-lighter;
        border-right: 1px solid custom.$mcr-gray-lighter;
        background: none;

        &:after {
            background-color: custom.$mcr-cmsblue-base;
            content: '';
            height: 4px;
            left: -1px;
            opacity: 0;
            position: absolute;
            right: -1px;
            top: -1px;
            transform: scaleX(0);
        }

        &--selected {
            border-bottom: 1px solid custom.$mcr-foundation-white;

            .easi-tabs__tab-btn {
                color: custom.$mcr-cmsblue-base;
            }

            &:after {
                opacity: 1;
                transform: scaleX(1);
            }
        }
    }

    &__tab-text {
        margin: 0 1.5em;
    }

    &__tab-panel {
        overflow: auto;
        border: 1px solid custom.$mcr-gray-lighter;
        height: 100%;
        background-color: custom.$mcr-foundation-white;
        padding: 1.5em;
        min-height: 500px;
    }
}
