{
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "project": "./tsconfig.json",
        "sourceType": "module",
    },
    "plugins": ["@typescript-eslint"],
    "ignorePatterns": ["dist/*", "**/esbuild.config.js"],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended",
        "prettier",
    ],
}
