service: postgres

frameworkVersion: '4.2.3'

build:
  esbuild: false

plugins:
  - serverless-esbuild
  - serverless-stack-termination-protection
  - serverless-s3-bucket-helper
  - serverless-iam-helper

provider:
  name: aws
  runtime: nodejs20.x
  region: us-east-1
  iam:
    role:
      path: ${self:custom.iamPath}
      permissionsBoundary: ${self:custom.iamPermissionsBoundary}
      statements:
        - Effect: 'Allow'
          Action:
            - secretsmanager:DescribeSecret # pragma: allowlist secret
          Resource: '*'
        - Effect: 'Allow'
          Action:
            - secretsmanager:DescribeSecret # pragma: allowlist secret
            - secretsmanager:GetSecretValue # pragma: allowlist secret
            - secretsmanager:PutSecretValue # pragma: allowlist secret
            - secretsmanager:UpdateSecretVersionStage # pragma: allowlist secret
          Resource: '*'
          Condition:
            StringEquals:
              'secretsmanager:resource/AllowRotationLambdaArn': '${self:custom.rotatorArn}' # pragma: allowlist secret
        - Effect: Allow
          Action:
            - secretsmanager:GetRandomPassword # pragma: allowlist secret
          Resource: '*'
        - Effect: 'Allow'
          Action:
            - secretsmanager:DescribeSecret # pragma: allowlist secret
            - secretsmanager:GetSecretValue # pragma: allowlist secret
          Resource:
            - '${self:custom.dbSecretsArn}'
        - Effect: 'Allow'
          Action:
            - secretsmanager:DescribeSecret # pragma: allowlist secret
            - secretsmanager:GetSecretValue # pragma: allowlist secret
            - secretsmanager:PutSecretValue # pragma: allowlist secret
            - secretsmanager:UpdateSecretVersionStage # pragma: allowlist secret
            - secretsmanager:DeleteSecret # pragma: allowlist secret
          Resource:
            - '${self:custom.dbManagerArn}'
        - Effect: Allow
          Action:
            - ec2:CreateNetworkInterface
            - ec2:DeleteNetworkInterface
            - ec2:DescribeNetworkInterfaces
          Resource: '*'
        - Effect: Allow
          Action:
            - s3:PutObject
            - s3:PutObjectAcl
          Resource:
            - !Sub 'arn:aws:s3:::${self:service}-${sls:stage}-data-export/*'
        - !If
          - !Equals ['${sls:stage}', 'prod']
          - Effect: Allow
            Action:
              - sts:AssumeRole
            Resource:
              - !Sub 'arn:aws:iam::${self:custom.valAWSAccountID}:role/${self:service}-cross-account-upload-val'
          - !Ref AWS::NoValue

custom:
  stage: ${opt:stage, self:provider.stage}
  databaseName: !Sub aurora_${self:service}_${sls:stage}_${AWS::AccountId}
  vpcId: ${env:VPC_ID}
  sgId: ${env:SG_ID}
  privateSubnets:
    - ${env:SUBNET_PRIVATE_A_ID}
    - ${env:SUBNET_PRIVATE_B_ID}
    - ${env:SUBNET_PRIVATE_C_ID}
  publicSubnetA: ${env:SUBNET_PUBLIC_A_ID}
  iamPermissionsBoundary: ${env:IAM_PERMISSIONS_BOUNDARY}
  iamPath: ${env:IAM_PATH}
  valAWSAccountID: ${env:VAL_AWS_ACCOUNT_ID}
  prodAWSAccountID: ${env:PROD_AWS_ACCOUNT_ID}
  rotatorArn: !Sub 'arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${self:service}-${sls:stage}-rotator'
  dbManagerArn: !Sub 'arn:aws:secretsmanager:${AWS::Region}:${AWS::AccountId}:secret:aurora_${self:service}_*' # pragma: allowlist secret
  auroraArn: ${env:CF_CONFIG_IGNORED_LOCALLY, env:AURORA_ARN}
  dbSecretsArn: ${env:CF_CONFIG_IGNORED_LOCALLY, env:DB_SM_ARN}
  slackWebhookUrl: ${env:SLACK_WEBHOOK}
  serverlessTerminationProtection:
    stages:
      - dev
      - val
      - prod
      - main
  pauseAurora:
    other: true
    val: false
    prod: false
  deletionPolicy:
    other: 'Delete'
    val: 'Retain'
    prod: 'Retain'
  esbuild:
    config: ./esbuild.config.js
  backupRetentionPeriod:
    other: 1
    main: 7
    val: 7
    prod: 30
  scriptable:
    hooks:
      before:package:createDeploymentArtifacts: pnpm build
      before:deploy:finalize: node scripts/uploadScripts.js ${self:custom.stage}

package:
  individually: true

functions:
  rotator:
    handler: src/rotator.handler
    description: Conducts an AWS SecretsManager secret rotation for RDS PostgreSQL using single user rotation scheme
    timeout: 30
    vpc:
      securityGroupIds: ${self:custom.sgId}
      subnetIds: ${self:custom.privateSubnets}
    environment:
      SECRETS_MANAGER_ENDPOINT: !Sub 'https://secretsmanager.${AWS::Region}.amazonaws.com'
  dbManager:
    handler: src/logicalDatabaseManager.handler
    description: Manages logical databases in the shared dev PostgreSQL instance
    timeout: 60
    vpc:
      securityGroupIds: ${self:custom.sgId}
      subnetIds: ${self:custom.privateSubnets}
    environment:
      SECRETS_MANAGER_ENDPOINT: !Sub 'https://secretsmanager.${AWS::Region}.amazonaws.com'
  dbExport:
    condition: IsValOrProd
    handler: src/db_export.handler
    description: Exports data from the Postgres Aurora database
    timeout: 60
    vpc:
      securityGroupIds: ${self:custom.sgId}
      subnetIds: ${self:custom.privateSubnets}
    environment:
      S3_BUCKET: !Ref DataExportBucket
      DB_SECRET_ARN: !Ref PostgresSecret
      SECRETS_MANAGER_ENDPOINT: !Sub 'https://secretsmanager.${AWS::Region}.amazonaws.com'
    layers:
      - !Ref PgToolsLambdaLayer

layers:
  PgTools:
    path: lambda-layers-postgres-tools

resources:
  Conditions:
    IsDevValProd: !Or
      - !Equals ['${sls:stage}', 'main']
      - !Equals ['${sls:stage}', 'val']
      - !Equals ['${sls:stage}', 'prod']
    IsReviewEnvironment: !Not [!Condition IsDevValProd]
    IsVal: !Or
      - !Equals ['${sls:stage}', 'val']
      - !Equals ['${sls:stage}', 'mttestexport']
    IsValOrProd: !Or
      - !Equals ['${sls:stage}', 'val']
      - !Equals ['${sls:stage}', 'prod']
      - !Equals ['${sls:stage}', 'mttestexport']

  Resources:
    # VPC endpoint for rotation lambda
    SecretsManagerVPCEndpoint:
      Type: AWS::EC2::VPCEndpoint
      Properties:
        SubnetIds: '${self:custom.privateSubnets}'
        SecurityGroupIds: ['${self:custom.sgId}']
        VpcEndpointType: Interface
        ServiceName:
          Fn::Sub: com.amazonaws.${AWS::Region}.secretsmanager
        VpcId: ${self:custom.vpcId}

    PostgresSecret:
      Type: AWS::SecretsManager::Secret
      Properties:
        Name: 'aurora_${self:service}_${sls:stage}'
        Description: 'Dynamically generated password for aurora serverless postgres'
        GenerateSecretString:
          SecretStringTemplate: '{"username": "mcreviewadmin"}'
          GenerateStringKey: password
          PasswordLength: 30
          ExcludePunctuation: true

    PostgresAuroraV2:
      Type: AWS::RDS::DBCluster
      Condition: IsDevValProd
      DeletionPolicy: ${self:custom.deletionPolicy.${opt:stage}, self:custom.deletionPolicy.other}
      Properties:
        Engine: aurora-postgresql
        DatabaseName: '${self:custom.databaseName}'
        MasterUsername: !Sub '{{resolve:secretsmanager:${PostgresSecret}::username}}'
        MasterUserPassword: !Sub '{{resolve:secretsmanager:${PostgresSecret}::password}}'
        DBSubnetGroupName: !Ref PostgresSubnetGroup
        VpcSecurityGroupIds: ['${self:custom.sgId}']
        CopyTagsToSnapshot: true
        BackupRetentionPeriod: ${self:custom.backupRetentionPeriod.${opt:stage}, self:custom.backupRetentionPeriod.other}
        EnableCloudwatchLogsExports:
          - postgresql
        ServerlessV2ScalingConfiguration:
          MinCapacity: 1
          MaxCapacity: 16

    PostgresAuroraV2Instance:
      Type: AWS::RDS::DBInstance
      DependsOn: PostgresAuroraV2
      Condition: IsDevValProd
      DeletionPolicy: ${self:custom.deletionPolicy.${opt:stage}, self:custom.deletionPolicy.other}
      Properties:
        Engine: aurora-postgresql
        DBInstanceClass: db.serverless
        DBClusterIdentifier: !Ref PostgresAuroraV2
        AutoMinorVersionUpgrade: true

    PostgresVMScriptsBucket:
      Type: 'AWS::S3::Bucket'
      Condition: IsDevValProd
      Properties:
        BucketName: !Sub ${self:service}-${sls:stage}-postgres-infra-scripts
        AccessControl: Private
        PublicAccessBlockConfiguration:
          BlockPublicAcls: true
          BlockPublicPolicy: true
          IgnorePublicAcls: true
          RestrictPublicBuckets: true
        BucketEncryption:
          ServerSideEncryptionConfiguration:
            - ServerSideEncryptionByDefault:
                SSEAlgorithm: AES256

    PostgresVMScriptsBucketPolicy:
      Type: AWS::S3::BucketPolicy
      Condition: IsDevValProd
      Properties:
        Bucket: !Ref PostgresVMScriptsBucket
        PolicyDocument:
          Version: '2012-10-17'
          Statement:
            - Sid: ForceSSLOnlyAccess
              Effect: Deny
              Principal: '*'
              Action: 's3:*'
              Resource:
                - !Sub arn:aws:s3:::${self:service}-${sls:stage}-postgres-infra-scripts
                - !Sub arn:aws:s3:::${self:service}-${sls:stage}-postgres-infra-scripts/*
              Condition:
                Bool:
                  aws:SecureTransport: false

    PostgresVM:
      Type: 'AWS::EC2::Instance'
      Condition: IsDevValProd
      DependsOn:
        - PostgresVMScriptsBucket
        - PostgresAuroraV2
      Properties:
        InstanceType: t2.micro
        ImageId: ami-05bfc1ab11bfbf484
        IamInstanceProfile: !Ref PgVMIAMInstanceProfile
        Tags:
          - Key: mcr-vmuse
            Value: jumpbox
        NetworkInterfaces:
          - AssociatePublicIpAddress: true
            DeviceIndex: '0'
            GroupSet:
              - !Ref PostgresVmSg
              - ${self:custom.sgId}
            SubnetId: !Sub ${self:custom.publicSubnetA}
        UserData:
          Fn::Base64: !Sub |
            #!/bin/bash
            # get apt data for postgres-14
            sh -c 'echo "deb http://apt.postgresql.org/pub/repos/apt $(lsb_release -cs)-pgdg main" > /etc/apt/sources.list.d/pgdg.list'
            wget --quiet -O - https://www.postgresql.org/media/keys/ACCC4CF8.asc | sudo apt-key add -

            apt update && apt install unzip postgresql-14 postgresql-contrib -y
            curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip" && unzip awscliv2.zip
            ./aws/install

            # We need to make sure we download the vm scripts. There can be a lag between when 
            # serverless uploads the scripts and the launch of the instance.
            copy_files_from_s3() {
              aws s3 cp s3://${PostgresVMScriptsBucket}/files/vm-startup.sh /usr/local/bin/vm-startup.sh
              aws s3 cp s3://${PostgresVMScriptsBucket}/files/vm-shutdown.sh /usr/local/bin/vm-shutdown.sh
              aws s3 cp s3://${PostgresVMScriptsBucket}/files/slack-notify.service /etc/systemd/system/notify-slack.service
              aws s3 cp s3://${PostgresVMScriptsBucket}/files/authorized_keys /home/ubuntu/.ssh/authorized_keys
            }

            download_failures=0
            while true; do
              copy_files_from_s3
              exit_code=$?

              if [ $exit_code -eq 0 ]; then
                echo "Downloaded vm scripts from s3 successfully"
                break
              else
                echo "Failed to download vm scripts from s3. Retrying in 10 seconds..."
                download_failures=$((download_failures+1))

                if [ $download_failures -eq 60 ]; then
                  echo "Maximum attempts of aws s3 cp reached. Exiting..."
                  break
                fi

                sleep 10
              fi
            done

            chmod +x /usr/local/bin/vm-startup.sh
            chmod +x /usr/local/bin/vm-shutdown.sh
            chmod +x /etc/systemd/system/notify-slack.service

            chmod 600 /home/ubuntu/.ssh/authorized_keys
            chown ubuntu:ubuntu /home/ubuntu/.ssh/authorized_keys

            sed -i "s,SLACK_WEBHOOK,${self:custom.slackWebhookUrl},g" /usr/local/bin/vm-startup.sh
            sed -i "s,SLACK_WEBHOOK,${self:custom.slackWebhookUrl},g" /usr/local/bin/vm-shutdown.sh
            sed -i "s,STAGE,${self:custom.stage},g" /usr/local/bin/vm-startup.sh 
            sed -i "s,STAGE,${self:custom.stage},g" /usr/local/bin/vm-shutdown.sh
            systemctl start notify-slack
            systemctl enable notify-slack

    PgVMIAMRole:
      Type: AWS::IAM::Role
      Condition: IsDevValProd
      Properties:
        Path: '/delegatedadmin/developer/'
        PermissionsBoundary: !Sub 'arn:aws:iam::${AWS::AccountId}:policy/cms-cloud-admin/ct-ado-poweruser-permissions-boundary-policy'
        RoleName: !Sub 'postgresvm-${sls:stage}-ServiceRole'
        AssumeRolePolicyDocument:
          Version: '2012-10-17'
          Statement:
            - Effect: Allow
              Principal:
                Service: ec2.amazonaws.com
              Action: sts:AssumeRole
        Policies:
          - PolicyName: 's3Access'
            PolicyDocument:
              Version: '2012-10-17'
              Statement:
                - Effect: 'Allow'
                  Action:
                    - 's3:*'
                  Resource:
                    - !GetAtt PostgresVMScriptsBucket.Arn
                    - !Join ['', [!GetAtt PostgresVMScriptsBucket.Arn, '/*']]

    PgVMIAMInstanceProfile:
      Type: AWS::IAM::InstanceProfile
      Condition: IsDevValProd
      Properties:
        Path: '/delegatedadmin/developer/'
        Roles:
          - !Ref PgVMIAMRole

    PostgresVmSg:
      Type: 'AWS::EC2::SecurityGroup'
      Condition: IsDevValProd
      Properties:
        GroupDescription: Enable SSH access via port 22
        VpcId: !Sub ${self:custom.vpcId}
        SecurityGroupIngress:
          - IpProtocol: tcp
            FromPort: 22
            ToPort: 22
            CidrIp: 34.196.35.156/32
          - IpProtocol: tcp
            FromPort: 22
            ToPort: 22
            CidrIp: 73.170.112.247/32
          - IpProtocol: tcp
            FromPort: 22
            ToPort: 22
            CidrIp: 172.58.0.0/16
          - IpProtocol: tcp
            FromPort: 22
            ToPort: 22
            CidrIp: 162.218.226.179/32
          - IpProtocol: tcp
            FromPort: 22
            ToPort: 22
            CidrIp: 66.108.108.206/32
          - IpProtocol: tcp
            FromPort: 22
            ToPort: 22
            CidrIp: 207.153.23.192/32
          - IpProtocol: tcp
            FromPort: 22
            ToPort: 22
            CidrIpv6: 2601:483:5300:22cf:e1a1:88e9:46b7:2c49/128

    PostgresSubnetGroup:
      Type: AWS::RDS::DBSubnetGroup
      Properties:
        DBSubnetGroupDescription: postgres aurora serverless
        SubnetIds: '${self:custom.privateSubnets}'

    SecretsRDSAttachment:
      Type: AWS::SecretsManager::SecretTargetAttachment
      Properties:
        SecretId: !Ref PostgresSecret
        TargetId: !If
          - IsDevValProd
          - !Ref PostgresAuroraV2
          - ${self:custom.auroraArn}
        TargetType: AWS::RDS::DBCluster

    PostgresSecretsRotationSchedule:
      Type: AWS::SecretsManager::RotationSchedule
      Condition: IsDevValProd
      DependsOn:
        - SecretsRDSAttachment
      Properties:
        SecretId:
          Ref: PostgresSecret
        RotationLambdaARN: !GetAtt RotatorLambdaFunction.Arn
        RotationRules:
          AutomaticallyAfterDays: 30

    LambdaInvokePermission:
      Type: AWS::Lambda::Permission
      DependsOn: RotatorLambdaFunction
      Properties:
        Action: lambda:InvokeFunction
        FunctionName: !GetAtt RotatorLambdaFunction.Arn
        Principal: 'secretsmanager.amazonaws.com'

    DataExportBucket:
      Type: 'AWS::S3::Bucket'
      Condition: IsValOrProd
      Properties:
        BucketName: !Sub ${self:service}-${sls:stage}-data-export
        AccessControl: Private
        PublicAccessBlockConfiguration:
          BlockPublicAcls: true
          BlockPublicPolicy: true
          IgnorePublicAcls: true
          RestrictPublicBuckets: true
        BucketEncryption:
          ServerSideEncryptionConfiguration:
            - ServerSideEncryptionByDefault:
                SSEAlgorithm: AES256
        VersioningConfiguration:
          Status: Enabled
        LifecycleConfiguration:
          Rules:
            - Id: ExpireOldVersions
              Status: Enabled
              NoncurrentVersionExpiration:
                NoncurrentDays: 30

    DataExportBucketPolicy:
      Type: AWS::S3::BucketPolicy
      Condition: IsValOrProd
      Properties:
        Bucket: !Ref DataExportBucket
        PolicyDocument:
          Version: '2012-10-17'
          Statement:
            - Sid: ForceSSLOnlyAccess
              Effect: Deny
              Principal: '*'
              Action: 's3:*'
              Resource:
                - !Sub arn:aws:s3:::${self:service}-${sls:stage}-data-export
                - !Sub arn:aws:s3:::${self:service}-${sls:stage}-data-export/*
              Condition:
                Bool:
                  aws:SecureTransport: false
            - !If
              - IsVal
              - Sid: AllowCrossAccountAccess
                Effect: Allow
                Principal:
                  AWS: !GetAtt CrossAccountUploadRole.Arn
                Action:
                  - s3:PutObject
                  - s3:PutObjectAcl
                Resource:
                  - !Sub '${DataExportBucket.Arn}/*'
              - !Ref AWS::NoValue

  CrossAccountUploadRole:
    Condition: IsVal
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub '${self:service}-cross-account-upload-${sls:stage}'
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              AWS: 'arn:aws:iam::{self:custom.prodAccountId}:root'
            Action: sts:AssumeRole
      Policies:
        - PolicyName: 'S3Upload'
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - s3:PutObject
                  - s3:PutObjectAcl
                Resource:
                  - !Sub '${DataExportBucket.Arn}/*'

  Outputs:
    PostgresAuroraV2Arn:
      Value: !If
        - IsReviewEnvironment
        - ${self:custom.auroraArn}
        - !Sub 'arn:aws:rds:${AWS::Region}:${AWS::AccountId}:cluster:${PostgresAuroraV2}'
    PostgresVMScriptsBucket:
      Condition: IsDevValProd
      Value: !Ref PostgresVMScriptsBucket
    DataExportBucket:
      Condition: IsValOrProd
      Value: !Ref DataExportBucket
      Description: S3 Bucket for Val/Prod Data Export
