.disabledCursor {
  cursor: not-allowed;
}

.disabledButtonBase {
  background-color: #c9c9c9;
  color: #fff;
  outline: none;
}

.disabledButtonOutline {
  background-color: transparent;
  color: #c9c9c9;
}

.buttonTextWithIcon {
      vertical-align: middle;
      margin-left: .5rem
}
