@use '../../styles/custom.scss' as custom;
@use '../../styles/uswdsImports.scss' as uswds;

.crumb {
    white-space: normal;
}

.crumbContainer {
    margin-top: 2.5rem;
    margin-bottom: 1rem;
    background: none;
    padding: 0;

    ul {
        padding: 0;
    }

    [class^='usa-breadcrumb'] {
        li:last-child a {
            text-decoration: none;
            color: custom.$mcr-foundation-ink;
        }
    }
}
