@use '../../styles/custom.scss' as custom;
@use '../../styles/uswdsImports.scss' as uswds;

.crumbContainer {
    margin-top: 1em;
    margin-bottom: 1em;
    background: none;

    [class^='usa-breadcrumb'] {
        li:last-child a {
            text-decoration: none;
            color: custom.$mcr-foundation-ink
        }
    }
}
