@import '../../styles/uswdsImports.scss';
@import '../../styles/custom.scss';

.wrapper {
    display: flex;
    flex: 1 0 auto;
    padding-top: units(4);
    width: 100%;
    max-width: 100%;
    background-color: $cms-color-white;
}

.container {
    width: 100%;
    max-width: 75rem;
    padding: 0 2rem 0 2rem;
}

.alertContainer {
    padding-top: units(4);
    margin: auto;
    max-width: 75rem;
}

.panel {
    padding: units(2);
    width: 100%;

    & .panelHeader {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: 700;
    }
}

.alert {
    div {
        margin-top: units(1);
    }
    ol {
        margin-top: 0;
    }
    li {
        padding: units(1) 0;
    }
}
