@import '../../styles/uswdsImports.scss';
@import '../../styles/custom.scss';

.wrapper {
    display: flex;
    flex: 1 0 auto;
    width: 100%;
    max-width: 100%;
    background-color: $mcr-foundation-white;
}

.container {
    width: 100%;
    max-width: $mcr-container-standard-width-fixed;
    padding: 0 2rem 0 2rem;
}

.alertContainer {
    padding-top: units(4);
    margin: auto;
    max-width: $mcr-container-standard-width-fixed;
}

.panel {
    padding: units(2);
    width: 100%;

    & .panelHeader {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: 700;
        padding-bottom: units(2);
    }
}

.alert {
    div {
        margin-top: units(1);
    }
    ol {
        margin-top: 0;
    }
    li {
        padding: units(1) 0;
    }
}
