@use '../../styles/custom.scss' as custom;
@use '../../styles/uswdsImports.scss' as uswds;

.loadingBox {
    margin-top: 10vh;
    text-align: center;
}

.loadingLabel {
    margin-bottom: uswds.units(2);
}
