@use '../../styles/custom.scss' as custom;
@use '../../styles/uswdsImports.scss' as uswds;

.background {
  background-color: custom.$mcr-foundation-white;
  width: 100%;
  height: 100%;
  display: flex;
  flex: 1;
  align-items: stretch;
}

.explorer {
  width: 100%;
}
