@import '../../styles/uswdsImports.scss';
@import '../../styles/custom.scss';

.background {
  background-color: $mcr-foundation-white;
  width: 100%;
  height: 100%;
  display: flex;
  flex: 1;
  align-items: stretch;
}

.explorer {
  width: 100%;
}
