@use '../../styles/custom.scss' as custom;
@use '../../styles/uswdsImports.scss' as uswds;

.rateWithdrawContainer {
    max-width: custom.$mcr-container-standard-width-fixed;
    background-color: none;
    @include uswds.at-media('tablet') {
        min-width: 40rem;
        margin: 0 auto;
    }
}

.formContainer {
    @include custom.form-fields;
}
