@use "uswds-core" as *;
@use '../../styles/custom.scss' as *;

// react-select draws the chips in two parts, so we round the outer and square in the inner corners
.multiSelect {
  padding-top: 12px;
  [class*='select__multi-value'] {
    border-radius: 99rem 99rem 99rem 99rem;
  }
  [class*='select__multi-value__label'] {
    background: $mcr-primary-lightest;
    color: $mcr-ink;
    border-radius: 99rem 0rem 0rem 99rem;
  }
  [class*='select__multi-value__remove'] {
    background: $mcr-primary-lightest;
    color: $mcr-ink;
    border-radius: 0rem 99rem 99rem 0rem;

    &:hover {
      background: darken($mcr-primary-lightest, 5%);
      color: $mcr-ink;
    }
  }
}
