@use '../../styles/custom.scss' as custom;
@use '../../styles/uswdsImports.scss' as uswds;

// preferred way to show a button that is disabled. avoid cursor: none
.disabledCursor {
    cursor: not-allowed;
}

.buttonTextWithIcon {
    vertical-align: middle;
    margin-left: 0.5rem;
}

.buttonTextWithoutIcon {
    vertical-align: middle;
}

.successButton {
    background: custom.$mcr-success-base;
    &:hover {
        background-color: custom.$mcr-success-hover !important;
    }
    &:active {
        background-color: custom.$mcr-success-hover !important;
    }
}
