@import '../../styles/uswdsImports.scss';
@import '../../styles/custom.scss';

// preferred way to show a button that is disabled. avoid cursor: none
.disabledCursor {
  cursor: not-allowed;
}

.buttonTextWithIcon {
      vertical-align: middle;
      margin-left: .5rem
}

.buttonTextWithoutIcon {
  vertical-align: middle;
}

.successButton {
    background: $mcr-success-base;
    &:hover {
        background-color: $mcr-success-hover !important;
    }
    &:active {
       background-color: $mcr-success-hover !important;
    }
}
