@use '../../styles/custom.scss' as custom;
@use '../../styles/uswdsImports.scss' as uswds;

.background {
    width: 100%;
    min-height: 100%;
    background-color: custom.$mcr-foundation-white;
}

.pageHeader {
    width: 100%;
    background-color: custom.$mcr-cmsblue-dark;
}

.pageHeaderContainer {
    @include custom.container;
    display: flex;
    align-items: flex-end;
    min-height: 4.625rem;
    padding-top: uswds.units(3);
    padding-bottom: uswds.units(3);
}

.pageHeaderTitle {
    margin: 0;
    color: custom.$mcr-foundation-white;
    font-size: 1.375rem;
    font-weight: uswds.font-weight('normal');
    line-height: 1.2;
}

.layoutContainer {
    @include custom.container;
    padding: 0 !important;
    justify-content: center;

    @include uswds.at-media-max('tablet') {
        flex-direction: column;
    }
}

.sideNavContainer {
    padding: uswds.units(4) uswds.units(2);
    min-width: 18rem;
    width: 18rem;
    max-width: 18rem;

    .usa-sidenav a {
        @include custom.mcr-type-style(16px, 400, 162%, 0.16px);
    }

    .usa-sidenav .usa-current {
        @include custom.mcr-type-style(16px, 700, 162%, 0.16px);
    }

    @include uswds.at-media('desktop') {
        padding-left: uswds.units(4);
        padding-right: uswds.units(4);
    }

    @include uswds.at-media-max('tablet') {
        width: 100%;
        max-width: none;
        min-width: 0;
        margin-left: uswds.units(1);
    }
}

.contentContainer {
    flex: 1 1 auto;
    min-width: 0;
}
