@import '../../../styles/uswdsImports.scss';
@import '../../../styles/custom';

.reviewSectionWrapper {
    max-width: 50rem;
}

.reviewSection {
    margin: units(2) auto;
    background: $cms-color-white;
    padding: units(2) units(4);
    border: 1px solid $theme-color-base-lighter;
    @include u-radius('md');

    h2 {
        margin: 0;
        @include u-text('normal');
    }
    &:first-of-type {
        h2 {
            @include u-text('bold');
            font-size: size('body', 'lg');
        }
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
            padding: units(1) 0;
        }
    }
}

.reviewSectionHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: units(4);
    padding-bottom: units(2);
    border-bottom: 1px solid $theme-color-base-lighter;
}

// align state contacts
dl div[class^='grid-container'] {
    padding: 0;

    div {
      padding-bottom: units(2);
    }

    div:nth-child(2) {
      padding: 0 units(2);
    }

    // dont bottom pad last two grid items
    div:nth-last-child(-n+2)  {
      padding-bottom: 0;
    }
}

.contactInfo p {
    margin: units(1) 0;
}

.documentDesc {
    margin: 0;
}

.submitButton {
    background: $theme-color-success;
    &:hover {
        background-color: #2a7a3b !important;
    }
}

@media print {
    header,
    footer,
    .pageActions,
    .reviewSectionHeader a {
        display: none;
    }
    .reviewSection {
        border: none;
        padding: 0;
    }
}
