@import '../../../styles/uswdsImports.scss';
@import '../../../styles/custom';

.reviewSectionWrapper {
    width: 100%;
}

.reviewSection {
    margin: units(2) auto;
    background: $cms-color-white;
    padding: units(2) units(4);
    border: 1px solid $theme-color-base-lighter;
    @include u-radius('md');

    h2 {
        margin: 0;
        @include u-text('normal');
    }
    &:first-of-type {
        h2 {
            @include u-text('bold');
            font-size: size('body', 'lg');
        }
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
            padding: units(1) 0;
        }
    }
}

.reviewSectionHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: units(4);
    padding-bottom: units(2);
    border-bottom: 1px solid $theme-color-base-lighter;
}

.contactInfo p {
    margin: units(1) 0;
}

.documentDesc {
    margin: 0;
}

.pageActions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: units(4);
}

.submitButton {
    background: $theme-color-success;
}

@media print {
    header,
    footer,
    .pageActions,
    .reviewSectionHeader a {
        display: none;
    }
    .reviewSection {
        border: none;
        padding: 0;
    }
}
