@use '../../../styles/custom.scss' as custom;
@use '../../../styles/uswdsImports.scss' as uswds;

.optionsContainer {
    display: flex;
}

.optionsContainer label {
    margin-top: .8em;
}

.yesnofieldsecondary {
    margin-top: .8em;
    margin-bottom: 1.5em;
}

.yesnofieldsecondary legend {
    font-weight: normal;
}

.no {
    margin-left: 3em;
}

.requiredOptionalText {
    display: block;
    color: custom.$mcr-foundation-hint;
}