{
  "extends": "stylelint-config-recommended-scss",
  "rules": {
      "color-no-hex": true,
      "selector-pseudo-class-no-unknown": [
        true,
        {
          "ignorePseudoClasses": ["global"]
        }
      ]
    },
    "overrides": [
      {
      "files": ["src/styles/**"],
       "rules": {
        "color-no-hex": null
        }
      }
    ]
}
