.chipOnlyBanner {
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
}

.subHeader {
    margin-bottom: 4px;
    line-height: 150%;
}

.listItems {
    margin-top: 0px;
    padding-left: 26px;
    line-height: 150%;
}

.listItems:first-of-type {
    margin-bottom: 4px;
}
