@use '../../styles/custom.scss' as custom;
@use '../../styles/uswdsImports.scss' as uswds;

$mcr-single-page-width: 40rem;

// Notes for future refactor to single page UI
// We should be overriding usa-form max-width across the application, rather than per form page.  Let uswds always take the width of its parent by default
// From figma seems like like single page page width is 40rem but we have  $mcr-container-standard-width-fixed set to 50rem - look at this in future refactor - cross check with design.
// Are single page forms supposed to be the same width as the state submission form? Probably - in which case we should be sharing as many styles tokens as possible.
.replaceRatePage {
    justify-content: center;
    flex-direction: row;

   form[class^='usa-form']{
        max-width: 100% !important;
        display: flex;
        flex-direction: column;
        width: $mcr-single-page-width;
   }
    .formInnerContainer {
        border: 0;
        margin-top: 2rem;
        margin-bottom: 2rem;
        background: custom.$mcr-foundation-white;
        padding: 2rem;
        width: $mcr-single-page-width;

        h2 {
            margin-top: 0;
        }

        > div[class^='usa-form-group']:not(:first-of-type) {
            margin-top: 2.5rem;
        }
        >fieldset{
           border: 0;
           margin: 0;
           padding:0
        }
    }

}

