@use '../../styles/custom.scss' as *;

.filters {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 24px;
    row-gap: 24px;
}

.filterTitle {
    font-weight: bold;
}

.clearFilterButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-top: 24px;
}

.filterAccordion {
    [class*='usa-accordion__content'] {
        background: 'base-lightest';
    }
}
