@use '../../styles/custom.scss' as custom;
@use '../../styles/uswdsImports.scss' as uswds;

.filterTitle {
    font-weight: bold;
}

.clearFilterButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-top: 24px;
}

.filterAccordion {
    [class*='usa-accordion__content'] {
        background: custom.$mcr-gray-lightest;
        overflow: visible;
    }
}
