@use '../../styles/custom.scss' as custom;
@use '../../styles/uswdsImports.scss' as uswds;

.primaryDiv {
    flex-basis: 65%;
}

.summarySectionHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: uswds.units(2);
    min-height: 3rem;

    &.hasSubheader {
        align-items: start;
        a {
            display: block;
            margin-top: 17.5px;
        }
    }
}

.summarySectionHeaderBorder {
    border-bottom: 1px solid custom.$mcr-gray-lighter;
    margin-bottom: uswds.units(2);
}

@media print {
    .summarySectionHeader a {
        display: none;
    }
    .summarySection {
        border: none;
        padding: 0;
    }
}
