@use '../../styles/custom.scss' as custom;
@use '../../styles/uswdsImports.scss' as uswds;

.summarySectionWrapper {
    max-width: 50rem;
}


.summarySectionHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: uswds.units(2);
    min-height: 3rem;

    &.hasSubheader {
        align-items: start;
        a {
            display: block;
            margin-top: 17.5px;
        }
    }

}

.summarySectionHeaderBorder {
    border-bottom: 1px solid custom.$mcr-gray-lighter;
    margin-bottom: uswds.units(2);
}

.summarySectionSubHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: uswds.units(4) 0;
    padding-top: uswds.units(4);
    border-top: 1px solid custom.$mcr-gray-lighter;
}


@media print {
    .summarySectionHeader a {
        display: none;
    }
    .summarySection {
        border: none;
        padding: 0;
    }
}
