name: Promote to an environment

on:
  workflow_call:
    inputs:
      environment:
        required: true
        type: string
      stage_name:
        required: true
        type: string
      changed_services:
        required: true
        type: string
      aws_default_region:
        required: true
        type: string
    secrets:
      slack_webhook_url:
        required: true
      aws_account_id:
        required: true
      nr_license_key:
        required: true

permissions:
  id-token: write

jobs:
  # deploy the OIDC service first, as subsequent deploys may depend on updated OIDC permissions
  github-oidc:
    if: ${{ contains(inputs.changed_services, 'github-oidc') }}
    environment: ${{ inputs.environment }}
    runs-on: ubuntu-20.04
    steps:
      - name: Check out repository
        uses: actions/checkout@v3

      - name: Setup env
        uses: ./.github/actions/setup_env

      - name: build scripts
        shell: bash
        run: |
          npx lerna run build:ci-scripts

      - name: Set the correct stage name for the bootstrapped OIDC role based on the environment
        id: set-oidc-stage-name
        shell: bash
        # the dev environment uses 'main' as the stage name; otherwise the stage name is same as the environment name
        # if the environment isn't one of [dev, val, prod], fail the job
        run: |
          echo "stage-name=$(
            if [[ "${{ inputs.environment }}" == "val" || "${{ inputs.environment }}" == "prod" ]]; then
              echo "${{ inputs.environment }}";
            elif [[ ${{ inputs.environment }} == "dev" ]]; then
              echo "main";
            else
              echo "Invalid environment: ${{ inputs.environment }}" >&2;
              kill -HUP $$
            fi
          )" >> $GITHUB_OUTPUT

      - name: Get AWS credentials
        uses: ./.github/actions/get_aws_credentials
        with:
          region: ${{ inputs.aws_default_region }}
          account-id: ${{ secrets.aws_account_id }}
          # use the manually bootstrapped OIDC role to solve the chicken-and-egg problem of deploying the OIDC service via OIDC
          stage-name: ${{ steps.set-oidc-stage-name.outputs.stage-name }}

      - name: deploy github-oidc
        id: deploy-github-oidc
        run: |
          pushd services/github-oidc && npx serverless deploy --stage ${{ inputs.stage_name }}

  postgres:
    # for this and subsequent jobs, wait for the OIDC service to deploy (unless it was skipped)
    needs: github-oidc
    if: ${{ always() && contains(inputs.changed_services, 'postgres') }}
    environment: ${{ inputs.environment }}
    runs-on: ubuntu-20.04
    steps:
      - name: Check out repository
        uses: actions/checkout@v3

      - name: Setup env
        uses: ./.github/actions/setup_env

      - name: Get AWS credentials
        uses: ./.github/actions/get_aws_credentials
        with:
          region: ${{ inputs.aws_default_region }}
          account-id: ${{ secrets.aws_account_id }}
          stage-name: ${{ inputs.stage_name }}
          changed-services: ${{ inputs.changed_services }}

      - name: deploy postgres
        id: deploy-postgres
        env:
          SLACK_WEBHOOK: ${{ secrets.slack_webhook_url }}
        run: |
          pushd services/postgres && npx serverless deploy --stage ${{ inputs.stage_name }}

  ui:
    needs: github-oidc
    if: ${{ always() && contains(inputs.changed_services, 'ui') }}
    environment: ${{ inputs.environment }}
    runs-on: ubuntu-20.04
    steps:
      - name: Check out repository
        uses: actions/checkout@v3

      - name: Setup env
        uses: ./.github/actions/setup_env

      - name: Get AWS credentials
        uses: ./.github/actions/get_aws_credentials
        with:
          region: ${{ inputs.aws_default_region }}
          account-id: ${{ secrets.aws_account_id }}
          stage-name: ${{ inputs.stage_name }}
          changed-services: ${{ inputs.changed_services }}

      - name: deploy ui
        id: deploy-ui
        run: |
          pushd services/ui && npx serverless deploy --stage ${{ inputs.stage_name }}

  storybook:
    needs: github-oidc
    if: ${{ always() && contains(inputs.changed_services, 'storybook') }}
    environment: ${{ inputs.environment }}
    runs-on: ubuntu-20.04
    steps:
      - name: Check out repository
        uses: actions/checkout@v3

      - name: Setup env
        uses: ./.github/actions/setup_env

      - name: Get AWS credentials
        uses: ./.github/actions/get_aws_credentials
        with:
          region: ${{ inputs.aws_default_region }}
          account-id: ${{ secrets.aws_account_id }}
          stage-name: ${{ inputs.stage_name }}
          changed-services: ${{ inputs.changed_services }}

      - name: deploy storybook
        id: deploy-storybook
        run: |
          pushd services/storybook && npx serverless deploy --stage ${{ inputs.stage_name }}

  uploads:
    needs: github-oidc
    if: ${{ always() && contains(inputs.changed_services, 'uploads') }}
    environment: ${{ inputs.environment }}
    runs-on: ubuntu-20.04
    steps:
      - name: Check out repository
        uses: actions/checkout@v3

      - name: Setup env
        uses: ./.github/actions/setup_env

      - name: Get AWS credentials
        uses: ./.github/actions/get_aws_credentials
        with:
          region: ${{ inputs.aws_default_region }}
          account-id: ${{ secrets.aws_account_id }}
          stage-name: ${{ inputs.stage_name }}
          changed-services: ${{ inputs.changed_services }}

      - name: deploy uploads
        id: deploy-uploads
        env:
          NR_LICENSE_KEY: ${{ secrets.nr_license_key }}
        run: |
          pushd services/uploads && npx serverless deploy --stage ${{ inputs.stage_name }}

  infra-api:
    needs: github-oidc
    if: ${{ always() && contains(inputs.changed_services, 'infra-api') }}
    environment: ${{ inputs.environment }}
    runs-on: ubuntu-20.04
    steps:
      - name: Check out repository
        uses: actions/checkout@v3

      - name: Setup env
        uses: ./.github/actions/setup_env

      - name: Get AWS credentials
        uses: ./.github/actions/get_aws_credentials
        with:
          region: ${{ inputs.aws_default_region }}
          account-id: ${{ secrets.aws_account_id }}
          stage-name: ${{ inputs.stage_name }}
          changed-services: ${{ inputs.changed_services }}

      - name: deploy infra-api
        id: deploy-uploads
        run: |
          pushd services/infra-api && npx serverless deploy --stage ${{ inputs.stage_name }}

  ui-auth:
    needs: [github-oidc, infra-api, ui, uploads]
    if: ${{ always() && contains(inputs.changed_services, 'ui-auth') }}
    environment: ${{ inputs.environment }}
    runs-on: ubuntu-20.04
    steps:
      - name: Check out repository
        uses: actions/checkout@v3

      - name: Setup env
        uses: ./.github/actions/setup_env

      - name: Get AWS credentials
        uses: ./.github/actions/get_aws_credentials
        with:
          region: ${{ inputs.aws_default_region }}
          account-id: ${{ secrets.aws_account_id }}
          stage-name: ${{ inputs.stage_name }}
          changed-services: ${{ inputs.changed_services }}

      - name: deploy ui-auth
        id: deploy-ui-auth
        run: |
          pushd services/ui-auth && npx serverless deploy --stage ${{ inputs.stage_name }}
